[2016-09-23 18:41] deepakrkris opened #18 "test cases must pick up port numbers dynamically"
strong-soap tests seems to have hard coded port numbers. test cases must be port independent
and must select available ports dynamically

[2016-09-27 23:18] deepakrkris opened #20 "fix warning messages"
mocha test run outputs a lot of warning messages.
some investigation is needed to check the root cause

[2016-09-30 21:49] rashmihunt commented on #20
Based on the chat with Deepak, assigning it to @deepakrkris

[2016-10-03 17:50] eddiemonge opened #25 "Add linting rules"
Looks like JSHint is somewhat there but not configured correctly and the rules are not being followed.

[2016-10-04 00:18] rashmihunt opened #26 "Add debug support"
- Add debug statements to all of the main code paths.
- Remove any console.log statements

[2016-10-05 07:36] Sipike opened #27 "WSDL error"
Something wrong with wsdl parsing. I get this error msgs. Server side.

Element {http://schemas.xmlsoap.org/wsdl/}wsdl:part is not allowed within "wsdl:message"
Element {http://schemas.xmlsoap.org/wsdl/}wsdl:part is not allowed within "wsdl:message"
Element {http://schemas.xmlsoap.org/wsdl/}wsdl:part is not allowed within "wsdl:message"
Element {http://schemas.xmlsoap.org/wsdl/}wsdl:part is not al

[2016-10-05 22:28] rashmihunt commented on #27
Can you please attach your WSDL?

[2016-10-05 23:26] rashmihunt commented on #20
Assigning to myself after talking to @raymondfeng  and @deepakrkris

[2016-10-06 07:42] Sipike commented on #27
Yes of course. Attached.
[doc.zip](https://github.com/strongloop/strong-soap/files/513110/doc.zip)

[2016-10-06 22:05] rashmihunt opened #29 "Babel script doesn't run in one of the CI build targets"
Strong-soap installs and tests strongloop-soap-connector as well as part of it’s CI build ' [cis-jenkins] downstream: loopback-connector-soap@master” Babel script seem to have not run for strong-soap in this case.

Error: Cannot find module './lib/security/index'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.require (module

[2016-10-06 22:06] #20 closed

[2016-10-06 22:06] #26 closed

[2016-10-07 15:23] rashmihunt commented on #27
Can you test your usecase again with master? https://github.com/strongloop/strong-soap/issues/20 might have fixed your issue.

[2016-10-07 15:52] raymondfeng commented on #27
@rashmihunt The warnings @Sipike saw should not happen. #20 only hides the warnings.

[2016-10-07 15:53] raymondfeng commented on #27
@rashmihunt You can try to load the wsdl from @Sipike using strong-soap to check.

[2016-10-07 16:09] rashmihunt commented on #27
@raymondfeng I did load @Sipike WSDL yesterday after the #20 and there was no warnings. I do have a todo to check this particular case to make sure debug is not hiding the actual problem. I wanted to unblock @Sipike first.

[2016-10-07 16:17] raymondfeng commented on #27
I tried to load his WSDL with DEBUG=strong-soap:wsdl:element. No warnings are reported.

@Sipike Please try too.

[2016-10-07 17:14] rashmihunt commented on #27
@Sipike I loaded your OCIT-I_PD-SP.wsdl without #20 fix and I don't see the warnings even then.  Is there a test case to reproduce?

[2016-10-07 17:43] Sipike commented on #27
I will try it again and come back with answer.

[2016-10-07 19:27] Guatom opened #30 "Is there any way to override the namespace?"
Hey! Good afternoon. I'm almost there to get the client working! The only issue I'm having is that the namespace for the body RQ is not the right one. Is there any way to override it?

I think there has to be a way for strong-soap to get the proper namespace though, since SOAPUI gets it OK. strong-soap is way better than soap-node anyway: strong-soap understands very well which nodes require names

[2016-10-07 19:53] rashmihunt commented on #30
Please attach the testcase with the wsdl.

[2016-10-07 19:59] 0candy commented on #25
Instead of fixing jshint, we should update to eslint like the rest of the loopback repos.

[2016-10-10 07:47] Sipike commented on #27
Okey , now I don't see any error msgs, but client.describe() give me an empty object...

[2016-10-10 17:09] rashmihunt commented on #27
Did you try modifying one of the examples (e.g weather.js) which is under strong-soap\example or mocha tests which are under strong-soap\test to create the client from your wsdl and see if it works? Those are good resources to try your usecases going forward. Which is what I did and I see the client object is created correctly and client.describe is not null. I copied your 'doc' directory under \s

[2016-10-11 08:32] Sipike commented on #27
I tried it with your example and it works, but If i create a new project it is not works..
Copied communitytest.js to my project's folder and my client.describe() is empty.
I attached my project can u look at it ? (server and client)
[POC_SOAP_NODE.zip](https://github.com/strongloop/strong-soap/files/521263/POC_SOAP_NODE.zip)

[2016-10-11 14:18] Guatom commented on #30
Close this issue as I'm quite close to solving it in the code; It's just a minor thing, I think I can send a PR. What's the channel for talking about PRs? I read in contributing that I should talk to developers before submitting a PR and I'd like to talk to anyo of them

[2016-10-12 10:40] miickel opened #31 "ReferenceError: definitions is not defined"
Hi!

This module seems like the perfect fit for a project I'm working on.

However, when trying to run a simple `client.describe()` on the wsdl [which you can access here](https://sit-sob.test.1177.se/sob-application-api/GetProcessesResponderService?wsdl), I get this error:

[code]

Here is the script in it's fully:

[code]

Any ideas?

Thanks!

[2016-10-12 19:41] rashmihunt commented on #27
@Sipike I unzipped your POC_SOAP_NODE.zip into a directory and ran 'npm i' and 'node communitytest.js' commands.  I don't see any problem and I see 'operation name: getContentInfo' printed correctly on the console. Wondering if there is an issue with your environment. I am on node version v6.3.0 and npm version 3.10.3? What version are you using?

[2016-10-12 20:13] rashmihunt commented on #27
@Sipike I am also looking into ocit_server.js and ocit_server.js

[2016-10-12 22:37] rashmihunt commented on #27
@Sipike I spent some more time looking at ocit_server.js and there seems to be a problem in strong-soap code in wsdl.js for this case wsdl --> includes XSD --> XSDs. I am labeling this issue as a bug.

[2016-10-13 07:18] Sipike commented on #27
I'm using node version 4.5.0 and npm is 2.15.9

[2016-10-13 12:46] hannupekka commented on #31
Yup, I'm getting this too.

[2016-10-13 23:17] #30 closed

[2016-10-13 23:17] Guatom commented on #30
Wrote a PR.

[2016-10-20 21:15] rashmihunt commented on #31
This issue is fixed using PR 33 - https://github.com/strongloop/strong-soap/pull/33

[2016-10-20 21:15] #31 closed

[2016-10-27 15:45] rashmihunt commented on #27
@Sipike I looked into this issue some more. From the server side when it loads wsdl --> includes XSD --> XSDs, it needs both path and uri to be passed in as part of pathOrOptions as a second parameter to soap.listen() function. I have modified ocit_server.js with this change. Please take a look. I will plan on spending some more time to look at ocit_client.js sending the  JSON request to this serv

[2016-10-31 10:33] Sipike commented on #27
Thanks for your answer :) It's working now.

[2016-11-09 21:46] rashmihunt opened #35 "Remove soap-stub.js"
soap-stub.js doesn't seem to be used. Remove the file.

[2016-11-11 00:10] bhoriuchi opened #37 "Error when method does not return an object"
I am using `strong-soap` with the vSphere API and getting an error during logout. Logout does not return an object an the stack trace I am seeing is seems to indicate that it is unable to find any elements in the output body.

[Logout Method](https://www.vmware.com/support/developer/vc-sdk/visdk41pubs/ApiReference/vim.SessionManager.html#logout)

Stack trace

[code]

[2016-11-11 00:12] bhoriuchi opened #38 "Please add cookie security"
Working with the vSphere API which requires cookie security

The following works for me, but it would be a nice enhancement to have CookieSecurity added to the ones supported by the project.

[code]

[2016-11-11 21:24] raymondfeng commented on #38
@bhoriuchi Would you please submit a pull request?

[2016-11-14 19:06] bhoriuchi commented on #38
PR Created https://github.com/strongloop/strong-soap/pull/39

[2016-11-15 11:56] hannupekka commented on #31
Still getting this when calling client methods.

[2016-11-18 18:32] #37 closed

[2016-11-18 18:37] rashmihunt opened #41 "Revisit a test case in wsdl-test.js"
Revisit this test - 'should get the parent namespace when parent namespace is empty string' in https://github.com/strongloop/strong-soap/blob/master/test/wsdl-test.js

1) The test doesn't seem to be testing anything - checking client request or response
2) Noticed a CI failure due to this test - check for missing done() method in the logic.

[2016-11-19 19:35] Cshion opened #42 "Wsdl correctly parsed in windows but not in ubuntu"
Hi guys , thank you for this package, actually i'm a using as a alternative to node-soap to consume this [wsdl](https://www.sunat.gob.pe/ol-it-wsconscpegem/billConsultService?wsdl) , my code is simple like this :

[code]
In windows it works , but when run the same code in ubuntu its output is : getStatusCdr is not defined , I was trying to find some error so i checked client instance:

[code]

[co

[2016-11-21 17:56] murcialito opened #43 "WSDL attribute not parsed"
Attributes are ignored while parsing complexType WSDL element

Explanation from the example in this repo:

If we modify the local WSDL to include an attribute named "facade" in the request GetCityWeatherByZIP

`<s:element name="GetCityWeatherByZIP">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ZIP"

[2016-11-21 21:15] rashmihunt commented on #38
@bhoriuchi I only merged PR 37 and I noticed that PR 39 was gone. I can't really merge PR 40 since it's not showing up in PR list and also if I do directly to the link #40 I don't see anything to merge. Can you resubmit the PR again or create a new PR and resubmit? Can you please add a test case with the PR? Thanks!

[2016-11-24 11:28] fdrx opened #46 "Response not properly mapped"
I am testing strong-soap and facing a "Uncaught error: Cannot read property 'qname' of undefined" when getting the following response:

[code]

I have fixed that by editing the client.js file line 304 this way:

[code]

[2016-11-25 16:19] murcialito commented on #42
Having same issue in RHEL, think it is related to import tag in WSDL definition

[2016-11-27 10:10] JasonScopServ opened #48 "Please add use of obj to parameters for requesting info"
In my case I'm requesting info from a soap server, like this below...

[code]

But it seems that the result is only returning the last index of the obj in requestedValues (DisplayName), It does not seem to run through the obj when making the xml request. Please let me know if maybe I'm
doing this wrong or if it is not actually implemented yet.

Thanks.

[2016-11-27 22:03] berendberendsen commented on #42
same issue here with RHEL

[2016-11-28 21:34] rashmihunt commented on #38
@bhoriuchi Thank you for the PR. Can you please include a test case in the PR?

[2016-11-28 22:15] rashmihunt commented on #42
@Cshion To debug the problem, can you please turn on debug trace and attach the trace output here? Here is the command to turn on the debug trace when you run your test, say YOUR_TEST.js.
    'DEBUG=strong-soap:* node YOUR_TEST.js'

[2016-11-29 03:01] Cshion commented on #42
Thanks for your reply , here is the trace when i try to create the client in Ubuntu :

[code]

[2016-11-29 03:02] Cshion commented on #42
Windows :
[code]

[2016-11-29 03:04] Cshion commented on #42
In ubuntu trace , there is : `strong-soap:wsdl WSDL error: Cannot find module './xsd/include'  +20m` , i will try to see whats happening there.

[2016-11-29 17:53] EntityB opened #49 "Missing element in server response"
Im not sure if this is mandatory or bug, but I have following spec in wsdl schema:

[code]

When I was using node-soap module, response looked like:
`...<soap:Body><verifyProductAvailabilityResponse xmlns="xxx"><productList><product>...`

But with strong-soap response look like this:
`...<soap:Body><productList><product>...`

[2016-11-29 21:56] ritch commented on #42
@Cshion thanks for submitting the issue. We'd gladly accept a PR for this, do you mind submitting one?

[2016-11-29 22:01] ritch opened #50 "Look into upgrading node-uuid"
Should we use `uuid` instead of `node-uuid`?

[2016-11-29 22:02] ritch commented on #46
@fdrx do you mind submitting your suggested fix as a PR?

[2016-11-29 22:05] ritch commented on #48
This doesn't seem related to `strong-soap`. Look at your object...

[code]

[2016-11-29 22:05] #48 closed

[2016-11-29 22:08] ritch commented on #43
Can you post some code that reproduces this against the weather api you are using?

Thanks 😄

[2016-11-29 22:08] ritch commented on #43
Marking as a bug for now...

[2016-11-30 18:14] rashmihunt commented on #50
@ritch We should. I had triaged a community PR which switched to uuid and I was planning to land the PR this week. But I no longer see it now and it's not merged either. I can switch to uuid as part of this issue.

[2016-11-30 18:55] forivall opened #51 "Feature Proposal: Validate requestArgs against XSD"
From the client example:
[code]

It would be nice if there was a method to validate that the `requestArgs` matches the schema, i.e. if ZIP was spelled incorrectly in the above case, and to generate an example request argument.

My POC approach would be xsd -> json schema and then validate it and use json-schema-faker to generate examples.

[2016-11-30 20:50] rashmihunt commented on #50
@ritch Fixed as part of PR https://github.com/strongloop/strong-soap/pull/52

[2016-11-30 22:23] ritch commented on #50
@rashmihunt can we close this now?

[2016-11-30 22:29] rashmihunt commented on #50
@ritch I am closing this issue since I fixed it as part of PR https://github.com/strongloop/strong-soap/pull/52

[2016-11-30 22:29] #50 closed

[2016-11-30 22:47] bhoriuchi commented on #38
@rashmihunt added

[2016-12-01 01:07] superkhau commented on #18
Connect to https://github.com/strongloop-internal/scrum-loopback/issues/876

[2016-12-01 10:35] EntityB commented on #49
I temporarily solved this by passing encapsulated object with method name as response. Like:
[code]

[2016-12-01 13:23] EntityB opened #53 "Use XSD schema rules"
One of the biggest issue of [node-soap](https://github.com/vpulim/node-soap) and [strong-soap](https://github.com/strongloop/strong-soap) libs is it doesn't follow XSD schema at all.

Current implementation of strong-soap just passing data as JSON to [xmlbuilder-js](https://github.com/oozcitak/xmlbuilder-js) lib. Unfortunately `xmlbuilder-js` doesn't provide any functionality to read and handle XS

[2016-12-01 13:34] EntityB commented on #53
It made me to do (very very very poor) implementation that is handling at least the wrong order of elements and strips elements and structures that are not part of XSD.

I [passed parsed XSD from strong-soap to xmlbuilder-js](https://github.com/EntityB/strong-soap). And then I made [small branch in code of xmlbuilder-js](https://github.com/EntityB/xmlbuilder-js) that can assemble XML following XSD

[2016-12-01 13:53] EntityB commented on #51
Hey,

I agree with this proposal, but I would make it a little bit bigger. Validating args is good functionality but not critical functionality ([as mentioned here](https://github.com/strongloop/strong-soap/issues/53))

Also I would like to question your approach. From everything I have found, json schema is not compatible with XSD in many cases. So I would rather suggest to do custom mapping rule

[2016-12-01 15:49] murcialito commented on #43
I used the code in this file below

https://github.com/strongloop/strong-soap/blob/master/example/weather.js

But instead of using the online WSDL I modified the online version to add my attribute

<s:attribute name="facade" fixed="fixedtext" type="string"/>

The attribute is not picked up and is not sent in the request to the exampple Weather Api

Thanks!

[2016-12-02 02:05] Cshion commented on #42
I would like to , but i should to study the code more closely this weekend.

[2016-12-05 02:58] michaelrambeau commented on #42
Hello guys,
We had a similar problem, we fixed it by installing directly the strong-soap module from Github branch master instead of npm.

[code]

It seems that the problem has been corrected on the master branch but not published yet on npm.

There was an issue about a file called `xsd/Include.js` instead of `xsd/include.js` and I think this commit solved the problem: https://github.com/strongloo

[2016-12-07 18:40] rashmihunt commented on #27
Closing since this issue is working for the originator.

[2016-12-07 18:40] #27 closed

[2016-12-12 13:50] farhoud opened #57 "Getting InvalidSecurity faultstring when calling WCF web service"
Hi,

I need to call a WCF service, I have a username and password, searching on the web it appears I need to use WS-Security. Here's my code:
[code]
And I'm getting the same error as not setting security:
[code]
Any advice is very much appreciated.

[2016-12-13 13:13] fdrx commented on #46
done

[2016-12-13 21:41] Guatom opened #59 "Feature proposal: Soap Headers should be at request level and not at client level"
Hey!

I'd like to suggest, and code if approved, a feature for moving header handling from the client to the request. Actually for setting a header, the methods `addSoapHeader` or `changeSoapHeader` have to be used. These methods modify the client. Considering that, if the invoked web services use the headers for specifying session or technical data, each time a web service is invoked, the client

[2016-12-14 19:24] rashmihunt opened #60 "loopback-connector-soap fails on node 5.x versions because of strong-soap problem"
This line looks like the problem in index.js

if (major >= 5) {
  base = './src/';
}

code in 'src' directory are all ES6 classes and node 5.11.0 is not using ES6.  Ideally in this case, code from 'lib' directory should get invoked not from 'src'.

Potential fix

if (major >= 6) {
  base = './src/';
}

[2016-12-15 20:05] joshlevinson opened #62 "Allow security to be set for the initial request"
Hi there!

I'm in a situation where a WSDL is 100% protected–even from the initial request–by WSSecurityCert. I'm finding that `strong-soap` only allows one to set the security of the client after it's been created, meaning that the initial "discovery" request is unsecured (and thus gets blocked).
Any advice on securing the initial wsdl request?

Thanks for this lib; it's very useful!

[2016-12-16 00:37] rashmihunt commented on #62
Only the new NTLMSecurity support in this module, supports authentication for getting the WSDL (http 'GET') at the moment. We should support this for other security similar to what we have done for NTLMSecurity.

[2016-12-16 02:01] rashmihunt commented on #42
@raymondfeng Can you please publish new version of strong-soap to npm? We have also added support for NTLMSecurity which needs to be published on to npm.

[2016-12-16 16:07] joshlevinson opened #63 "Clarification on custom namespaces"
Using the attached wsdl, I'm unable to get the correct namespaces going.
I'm making a request like:

[code]

The request is successful, but `PageInfo`, `Page`, and `PageSize` should all have the `req:` namespace; instead, they no namespace at all.
The request XML looks like:

[code]

I'm also confused why the other namespace definitions aren't added to the envelope. Those should be:
xmlns:clas="ht

[2016-12-16 20:19] ritch opened #64 "add to apidocs.strongloop.com"
<img width="533" alt="screen shot 2016-12-16 at 12 17 09 pm" src="https://cloud.githubusercontent.com/assets/462228/21277184/dd8330d4-c389-11e6-819e-d50966a5432a.png">

# 😢

[2016-12-16 20:20] ritch commented on #64
@raymondfeng @rashmihunt @crandmck @siddhipai

[2016-12-16 21:55] crandmck commented on #64
I can do this when I address https://github.com/strongloop-internal/apidocs.strongloop.com/issues/67

[2016-12-16 22:58] crandmck commented on #64
@ritch Should we also add https://github.com/strongloop/loopback-connector-soap to API docs?

[2016-12-19 18:19] joshlevinson commented on #63
Closing this out, as this worked for me all of the sudden.

[2016-12-19 18:19] #63 closed

[2016-12-30 14:40] spadusa opened #65 "Issue with complexTypes and XSI extensions if you don't define $xsiType as an object"
If I have json like this:
[code]

The xml generated will not namespace the extension elements correctly. If you instead define the json like this:
[code]

Then the generated xml has the extension nodes namespaced correctly.

I was able to trace this behavior down to xmlHandler.js line 151 as follows:
`let extension = descriptor.refOriginal.typeDescriptor.inheritance[child.type];`

`child` is a str

[2017-01-04 23:38] rashmihunt commented on #18
@deepakrkris I am assigning this to myself as we need to fix this for CI failure.

[2017-01-10 23:08] eddiemonge commented on #31
@hannupekka are you using version 1.1.0?

[2017-01-11 08:41] hannupekka commented on #31
@eddiemonge seems to work with 1.1.0

[2017-01-11 18:23] #18 closed

[2017-01-13 10:43] penrillian-chrisa opened #68 "What happended to overrideRootElement?"
The overrideRootElement option seems to have been removed. Is there an alternative way of changing the soap:body to include nested elements?

Instead of:
[code]
having:
[code]
I want the body to have:
[code]

[2017-01-17 19:56] rawgen commented on #42
Hello guys,
download the master branch(1.1.0) do not resolve this issue for me on ubuntu.
Any other solution for this issue?

[2017-01-17 23:06] Darkhogg opened #69 "ReferenceError: descriptor is not defined"
I'm using `strong-soap` v1.1.0 to acces this service: `http://www.citram.es:50081/VENTAPREPAGOTITULO/VentaPrepagoTitulo.svc?wsdl`
I'm getting the following error:

[code]

This is happening both in `describe()` and in any of the service methods. This particular trace is from a `describe()`, though.

[2017-01-18 11:12] rawgen commented on #42
After log the object client returned on soap.createclient:

part of code returned on ubuntu:`options:
      { ignoredNamespaces: [Object],
        forceSoapVersion: undefined,
        valueKey: '$value',
        xmlKey: '$xml',
        wsdl_headers: undefined,
        wsdl_options: undefined,
        ignoreBaseNameSpaces: false,
        attributesKey: 'attributes',
        envelopeKey: 'soap' },

[2017-01-20 09:08] alucarpd86 opened #71 "Change array prototype cause unhandled exception"
Hi,

i've tried this module in my project and it worked properly.
Than in my code i've added to the Array prototype one function like:

[code]
and now the module raise an unhandled exception that cause node.js exit

[code]

if I remove my sampleFunction from Array the module start working again.

[2017-01-20 18:10] rashmihunt commented on #46
@fdrx  In client.js on the master branch code, prior to the line
  result = obj.Body[outputBodyDescriptor.elements[0].qname.name];
there is a check for elements length in outputBodyDescriptor

https://github.com/strongloop/strong-soap/blob/master/src/client.js#L314

if (outputBodyDescriptor.elements.length) {   result = obj.Body[outputBodyDescriptor.elements[0].qname.name]; }

Above check should a

[2017-01-20 23:07] rashmihunt commented on #43
@murcialito
At the moment, strong-soap doesn’t have support to read ‘fixed’ value defined for the attribute in the schema.  You can open an enhancement request/issue for this. You could also open a PR implementing the same.

Meanwhile, you can achieve the same by adding $attributes in your JSON input.
For e.g in the weather web service use case you mentioned, your JSON request can be

[code]

Weat

[2017-01-21 00:52] rashmihunt commented on #71
@alucarpd86 Please send your javascript file which uses strong-soap module code and with the Array prototype function.

[2017-01-23 08:12] alucarpd86 commented on #71
Hi,

attached the sample javascript file

[soap.zip](https://github.com/strongloop/strong-soap/files/722925/soap.zip)

This esample doesn't even create the client object

[2017-01-23 17:07] rashmihunt commented on #69
Fixed PR https://github.com/strongloop/strong-soap/pull/72

[2017-01-23 18:49] crandmck opened #73 "Update README for change of weather to stock quote example"
Need to remove mention of non-working weather example SOAP service from README and replace with stock quote service.

[2017-01-25 18:48] rashmihunt commented on #46
@fdrx let me know if my above explanation fixed your issue. We would like to close this issue.

[2017-01-25 18:49] rashmihunt commented on #43
@murcialito Let me know if above explanation solves your issue. I would like to close this issue.

[2017-01-26 14:10] murcialito commented on #43
@rashmihunt It doesn't seem to be working for me, below is the generated output for requestArgs

[code]
I have created a custom HttpClient to add the fixed attribute meanwhile this is supported.
Thanks

[2017-01-30 19:19] crandmck commented on #64
@rashmihunt Let's discuss.

[2017-01-30 21:03] #64 closed

[2017-02-01 09:25] Gamaroff commented on #63
This problem has happened to me.
When I look at the Request Body it looks like this:

[code]

The  \<request\> tag is missing. Ie it should look like this:

[code]

The call fails because of this. How do I get the \<request\> tag back in there?

[2017-02-01 09:26] Gamaroff opened #75 "Missing Request Tag in Method"
When I look at the Request Body it looks like this:
[code]
The \<request\> tag is missing. Ie it should look like this:

[code]
The call fails because of this. How do I get the \<request\> tag back in there?

[2017-02-01 21:21] rashmihunt commented on #75
@Gamaroff Can you attach your WSDL and java script (or just code snippet) where you trying invoke "MyMethod" Web Service operation?

[2017-02-01 22:54] rashmihunt commented on #71
Fixed through PR https://github.com/strongloop/strong-soap/pull/76

[2017-02-01 23:17] #69 closed

[2017-02-01 23:29] rashmihunt opened #77 "Support to read ‘fixed’ value defined for Attribute"
Support to parse and read ‘fixed’ value defined for the attribute in the WSDL/schema and add the fixed value to the attribute while creating the SOAP request.

See for details in issue https://github.com/strongloop/strong-soap/issues/43

[2017-02-01 23:30] rashmihunt commented on #43
Closing since originator has a workaround and also opened a 'enhancement' issue to support processing 'fixed' value from schema, https://github.com/strongloop/strong-soap/issues/77

[2017-02-01 23:30] #43 closed

[2017-02-01 23:32] #71 closed

[2017-02-01 23:38] rashmihunt commented on #46
@fdrx closing the issue since the code has the fix as per my explanation above. If problem persists, please reopen.

[2017-02-01 23:38] #46 closed

[2017-02-01 23:46] rashmihunt commented on #49
@EntityB Can you please attach your complete WSDL? I want to see if it's RPC/literal or Document/Literal or Document/Literal-wrapped.

[2017-02-02 08:46] Gamaroff commented on #75
Hi @rashmihunt thanks for the help.

The url endpoint is: https://webservices.compuscan.co.za/NormalSearchService?wsdl

My code is as follows:

[code]

[2017-02-02 10:48] fdrx commented on #46
thank you, very sorry for the dela

[2017-02-05 00:36] LucasBrazi06 opened #80 "Send SOAP response with RelatesTo header when MessageID is passed in the request"
Dear developers,

When a soap request is issued with a MessageID in the header, the reponse must contain a response with the ReplyTo containing the same value as the message id conveyed.

**For instance, the request:**

<s:Envelope xmlns:a="http://www.w3.org/2005/08/addressing" xmlns:s="http://www.w3.org/2003/05/soap-envelope">
  <s:Header>
    <a:Action s:mustUnderstand="1">/BootNotification</a:A

[2017-02-06 00:38] LucasBrazi06 commented on #80
Hi,
Finally this is not a blocking issue!
Cheers,
Serge.

[2017-02-06 00:38] #80 closed

[2017-02-06 10:02] smolleyes opened #81 "base64 sended as ansi not utf8"
hi

i m creating an EDI for my work with another enterprise, they tell me that my encoded base64 xml is encoded in ANSI on their server

i have an xml string then do

 let xmlData = Buffer.from(xmlTemplate, 'utf8').toString('base64')

then just send it thru client ... how can i force utf8 ? (or they are doing a mistake when writing it as a file?)

thanks

[2017-02-06 11:41] #81 closed

[2017-02-06 12:04] smolleyes opened #82 "[IMPORTANT] add an xsi type ?"
hi

i m creating an EDI for my work with another enterprise and search how to force an xsi type

if i print the sended xml from src/client.js now i have for exemple

[code]
and i want if possible

<XMLOrder **xsi:type="xsd :base64Binary"**>... a base64string...</XMLOrder>

if i read the doc i have to make something in wsdlOptions passed to create client right ?

thanks !!

[2017-02-07 00:50] Gacnt opened #83 "Do I need to include a WSDL file?"
I'm trying to recreate this PHP with node
[code]

But I keep on having to pass in a `wsdl` url to `createClient` which returns 405 which this does not use `WSDL` any suggestions?

[2017-02-07 09:18] smolleyes commented on #82
done, works perfectly 👍

[2017-02-07 09:18] #82 closed

[2017-02-08 00:59] LucasBrazi06 opened #84 "How do I get these extra headers"
Dear developpers,

I do not manage to add the extra headers of soap namespace 'addressing' (see below).

**Request that works:**
[code]

**Request with strong-soap**
[code]

**The Code**
[code]

Thanks for your help in advance.

Best regards,
Serge.

[2017-02-08 06:00] sankara43 opened #85 "Cannot read property 'setSecurity' of undefined - Node JS, Strong-Soap"
I try to deploy my node application inside the "IIS 8". I have installed iisnode.

The basic application is running perfectly.

But I go with SOAP, I am getting below error.

[code]
Code:

[code]
Please help me solve this problem.

Regards Sankaran A

[2017-02-08 11:41] #85 closed

[2017-02-09 00:00] rashmihunt commented on #84
@LucasBrazi06 You can use client.addSoapHeader(value).. See example in this test https://github.com/strongloop/strong-soap/blob/master/test/server-test.js  Search for '<Security>'

[2017-02-09 00:14] rashmihunt commented on #83
@Gacnt I am not sure I understand 'which this does not use WSDL' ... Every createClient(..) call needs to pass in WSDL URL. Is your WSDL hosted at you web service secured? WSDL is downloaded first internally when createClient() gets invoked. If the web service needs authentication to download/access the WSDL, then, current strong-soap doesn't support passing security information during createClien

[2017-02-10 10:51] aymen-mouelhi commented on #84
@rashmihunt I have the same issue.
client.addSoapHeader(value) creates a header correctly, but the problem happens when you have a set of headers that have the same namespace, how can you assign a namespace to the whole soap enveloppe?

[2017-02-10 13:11] LucasBrazi06 commented on #84
@rashmihunt

Moreover the addSoapHeader() works with XML form but not with JSon:

JSon do not Work as it's checked against the WSDL:
client.addSoapHeader({ Action: '/Reset'}, {name: 'addr', nsURI: 'http://www.w3.org/2005/08/addressing'});

The XML works and is straightforward (no check done) but the soap envelope is missing
client.addSoapHeader('<addr:Action>/Reset</addr:Action>');

Thanks for you

[2017-02-10 21:29] rashmihunt commented on #65
@spadusa Upon a closer look at this,  the current code is working as expected. I have changed stock quote example see under project_root\example\stockquote.js to add string type attribute for GetQuote

[code]

Which generates the below request envelope. I see the namespace is correct.

[code]
I also tried adding the same ‘string’ type attribute for the ‘symbol’ which is defined as a simpleType in

[2017-02-10 23:32] rashmihunt commented on #75
@Gamaroff  I don't see MyMethod, param1 and param2 from above request defined in WSDL/XSD and it should be defined in the schema.  Your input JSON seems incorrect.  You can refer to example under https://github.com/strongloop/strong-soap/blob/master/example/stockquote.js or mocha tests under https://github.com/strongloop/strong-soap/tree/master/test Look at server-client-document-test.js or server

[2017-02-10 23:50] rashmihunt commented on #75
closing - working as expected. See above comment.

[2017-02-10 23:50] #75 closed

[2017-02-10 23:52] rashmihunt commented on #73
https://github.com/strongloop/strong-soap/pull/86

[2017-02-10 23:57] rashmihunt commented on #35
Decided to keep soap-stub. This was not working as per it's usage in README. Fixed soap-stub to make it work..

[2017-02-10 23:57] rashmihunt commented on #35
PR https://github.com/strongloop/strong-soap/pull/86

[2017-02-11 00:59] rashmihunt commented on #68
@penrillian-chrisa strong-soap code strictly follows WSDL/XSD schema. method, request and customer in your above example has to be defined in WSDL/XSD

Will be closing this - as working as expected

[2017-02-11 01:03] rashmihunt commented on #59
Copying @raymondfeng for this one

[2017-02-11 01:15] rashmihunt commented on #57
@farhoud Can you check your WCF service and see what type of security it uses and try to pass that type of security through client.setSecurity(..) method? I am not familiar with WCF service. Quick search of web shows the difference between web service and WCF https://www.codeproject.com/Articles/139787/What-s-the-Difference-between-WCF-and-Web-Services

I don't see what type security it needs thou

[2017-02-11 18:51] Gamaroff commented on #75
Thank you. Everything works as expected.
I appreciate the help.

On Sat, Feb 11, 2017 at 1:50 AM, Rashmi Hunt <notifications@github.com>
wrote:

[2017-02-12 15:56] farhoud commented on #57
Thank for replay the message is not human friendly but service provider send us wrong account information and they have firewall protected service . so everything was wrong.
strong soap works fine

[2017-02-13 17:13] #73 closed

[2017-02-13 17:14] #35 closed

[2017-02-13 17:16] rashmihunt commented on #65
Closing as per my comments above.

[2017-02-13 17:16] #65 closed

[2017-02-13 17:24] rashmihunt commented on #57
Closing this as this is not a problem with strong-soap as per above comments.

[2017-02-13 17:24] #57 closed

[2017-02-16 18:26] rashmihunt commented on #83
@Gacnt Hope above clarification helped. We will be closing this issue soon.

[2017-02-16 23:58] rashmihunt commented on #68
Closing this issue as per above clarification.

[2017-02-16 23:58] #68 closed

[2017-02-17 00:05] #83 closed

[2017-02-20 03:22] fdabrao opened #87 "Complex data"
Hello all,

How do I configure something like this:

``<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wrap="http://wrappers.webservice.appservices.core.inteqnet.com" xmlns:xsd="http://beans.webservice.appservices.core.inteqnet.com/xsd">
   <soapenv:Header/>
   <soapenv:Body>
      <wrap:getSQLQueryResults>
         <wrap:credentials>
            <xsd:userName>xxx

[2017-02-23 10:14] kay-is opened #88 "strong-soap Client works with WSDL but others don't"
I did a simple service with this library and tested it with the client, which worked. But trying this with the SOAPClient from PHP didn't. Somehow the types of my method are all UNKNOWN.

Maybe I have some error in my WSDL and the strong-soap client doesn't care as much as the PHP one.

[code]

Maybe the vaildator is missing something?

[2017-02-24 10:42] kay-is commented on #88
Found the error.

Somehow my XML schema version was wrong. Oxygen XML editor told me.

Doesn't work:

    <schema
      targetNamespace="http://example.com/dataservice.xsd"
      xmlns="http://www.w3.org/2000/10/XMLSchema">

Does work:

    <schema
      targetNamespace="http://example.com/dataservice.xsd"
      xmlns="http://www.w3.org/2001/XMLSchema">

Maybe the your validator could check for th

[2017-02-27 18:36] rashmihunt commented on #88
@kay-is  strong-soap supports both http://www.w3.org/2000/10/XMLSchema and http://www.w3.org/2001/XMLSchema  and there are tests which uses http://www.w3.org/2000/10/XMLSchema under tests/wsdl directory. Also WSDL 1.1 https://www.w3.org/TR/wsdl has examples which uses http://www.w3.org/2000/10/XMLSchema  At this point, we are not planning to remove support for http://www.w3.org/2000/10/XMLSchema b

[2017-02-27 18:37] #88 closed

[2017-02-27 18:56] rashmihunt commented on #87
@fdabrao Please take a look at README which has example code to invoke a WebService using client APIs and how to formulate your JSON input argument as per your WSDL which becomes the payload/body shown in your soap envelope. https://github.com/strongloop/strong-soap#client
Also, you can refer to examples under /examples directory for e.g https://github.com/strongloop/strong-soap/blob/master/exampl

[2017-03-01 17:52] rashmihunt commented on #87
@fdabrao Hope above doc/examples/tests helped to answer your question.  We would be closing this issue as per information provided.

[2017-03-01 18:00] fdabrao commented on #87
Ok, thanks for your help, yes, close it please.

[2017-03-01 18:00] #87 closed

[2017-03-06 13:33] Ebsy opened #89 "substitutionGroup Handling?"
I've come across a problem with strong-soap that I suspect is related to the handling of substitutionGroup in the XSD.

The XSD references an element that is a substitutionGroup of the main element in that particular XSD. When I try to reference it as part of an object, there is no namespace prefix applied. However, when I reference the original, non-substitute element, the correct prefix is appli

[2017-03-07 11:05] magician11 opened #90 "How do I change the prefix?"
Specifically does anyone know how I change the namespace from `<soap:Header>` to `<soapenv:Header>` and similarly attributes to something like `soapenv:mustUnderstand="1"` ?

My code currently looks something like this:

    const soap = require('soap');
    const url = 'https://staging.identitymanagement.lexisnexis.com/identity-proofing/services/identityProofingServiceWS/v2?wsdl';

    soap.creat

[2017-03-08 08:31] Ebsy commented on #90
Have you tried overrideRootElement in wsdlOptions?
example here - https://github.com/strongloop/strong-soap/blob/master/test/request-response-samples/addPets__force_namespaces/wsdl_options.json

[2017-03-08 10:49] magician11 commented on #90
I did.. but it does't seem to change the XML.

My code..

[code]

Doesn't seem to change the XML for the body value of the err object. i.e. It looks the same as above. I was expecting to see the word "testing" somewhere in the XML to see I was making a change.

[2017-03-12 07:26] orangewise commented on #42
@michaelrambeau Debugged this for a couple of hours and found the same problem (`xsd/Include`). Hope there will be a new release soon.

[2017-03-15 17:16] rashmihunt commented on #89
@Ebsy Can you please send your failing test case along with your WSDL so that we can reproduce? In addition, you could also implement the fix, add a mocha test and submit a PR. Thank you!

[2017-03-17 00:36] michaelrambeau commented on #42
Hello @raymondfeng ,

3 months later, despite the latest release on npm, the issue I mentioned here https://github.com/strongloop/strong-soap/issues/42#issuecomment-264757443 still exists.

If you install `strong-soap` from npm (currently v1.2.0), the `lib/parser/xsd` folder still contains a file named `Include.js` (uppercase `I`) instead of `include.js` (lowercase `i`)

[code]

So we still have t

[2017-03-19 07:27] rashmihunt commented on #42
@raymondfeng Somehow npm version was published with \lib directory and it shouldn't be since \lib has to get generated based on the node version, during 'npm install' for strong-soap . Master branch doesn't have \lib   Can you please republish this module to npm without \lib directory?  On a side note,  I think, this is why travis CI is failing for generator-loopback PR.

[2017-03-21 01:58] rashmihunt commented on #42
@michaelrambeau  I just published version 1.2.2 on npm. This should work. Let me know how it goes.
@raymondfeng Latest 1.2.2 version still has \lib directory, but at least with correct filename, include.js  When I published 1.2.2, even though 'master' doesn't have \lib and my local master didn't have 'lib' directory and also we have 'lib' directory in .gitignore, it still generated and published '

[2017-03-21 16:34] rashmihunt commented on #42
@michaelrambeau @Cshion @rawgen  I published version 1.2.2 on npm. This should work. Let me know how it goes.

[2017-03-21 17:57] grandeconcarne opened #91 ".describe() returns {} object in AWS Lambda"
`var soap = require('strong-soap').soap;

soap.createClient('https://ws.campaigner.com/2013/01/contactmanagement.asmx?WSDL',
    function(err, client) {
        console.log(client.describe());
    });`
Running the above using a local node 4.3.2 returns a populated service object. Running the above an AWS Lambda function returns and empty object. Any ideas / suggestions to solve?

[2017-03-21 20:46] rashmihunt commented on #91
@grandeconcarne can install latest version of strong-soap from npm which is version 1.2.2 and test your usecase? https://www.npmjs.com/package/strong-soap

[2017-03-21 21:04] grandeconcarne commented on #91
Thank you! That did it.

[2017-03-21 22:15] superkhau commented on #41
CI is passing ATM. Will create new issue if necessary.

[2017-03-21 22:15] #41 closed

[2017-03-22 17:15] rashmihunt commented on #91
Closing since issue is resolved for the originator.

[2017-03-22 17:25] #91 closed

[2017-03-22 17:27] rashmihunt commented on #29
Closing since loopback-connector-soap CI builds are clean.

[2017-03-22 17:27] #29 closed

[2017-03-24 06:11] michaelrambeau commented on #42
👍  @rashmihunt Thank you very much for the correction, it works!

[2017-03-27 16:41] rashmihunt commented on #42
Closing the issue since this works for the originator.

[2017-03-27 16:41] #42 closed

[2017-04-11 02:36] fabiooshiro opened #93 "Support for WS-Reliable Messaging (WS-RM)"
I got this error when I send a message:
[code]

[2017-04-18 15:55] barrettc commented on #62
I'm encountering the exact same scenario here -- I need to set security before the client can be created.

[2017-04-18 23:28] mtgto opened #94 "jsonToXml don't serialize Date value as ISO8601 format."
I found strong-soap's XMLHandler use `toString`, not `toISOString` for serializing `xsd:dateTime` value in request arguments.
I think string format for `xsd:dateTime` is ISO8601. (format: `[-]CCYY-MM-DDThh:mm:ss[Z|(+|-)hh:mm]`)
http://books.xmlschemata.org/relaxng/ch19-77049.html

Here is my sample code:
[code]

Expect:
[code]

Actual:
[code]

[2017-04-20 11:25] danofsteele commented on #90
I have the same problem, `overrideRootElement` has no effect. Any updates?

[2017-04-20 11:49] magician11 commented on #90
I ended up dropping this module when I realised I could just hardcode an XML fragment as a string to create exactly what I wanted, use string interpolation to insert my variables, and then use something like [request-promise-native](https://github.com/request/request-promise-native) to do a POST request.

[code]

[2017-04-20 13:13] danofsteele commented on #90
Thanks, although that's what I was afraid you were going to say.

[2017-04-20 21:33] magician11 commented on #90
@danofsteele it's actually a pretty ok solution for me. Even though the code is not as terse anymore, it's extremely clear what XML I'll be sending. And since this particular client of mine requires specific tweaks in the XML, this is much easier than trying to figure out how to get a module to render the same XML.

[2017-04-22 16:33] derouck commented on #90
@danofsteele @magician11 Facing the same problem as well: you can do it by setting envelopeKey. But that mustUnderstand tag will not be affected so it breaks the xml if you use the security with mustUnderstand.

[code]

It seems wsdlOptions should actually be inside this options object. Something like this:

[code]

[2017-04-24 02:40] dipakchandranp opened #95 "Escaping back slash"
I was trying to access the SOAP service, and following were the code tried:

[code]

You can see in the above code I have given my user name with **'\\' two slash**, actually in the user name only **one slash** is there, I was trying to escape here. But after **escaping** like this also when I print the **httpClientOptions** it shows **two slashes**. And when I tried with removing the one slash, i

[2017-04-24 11:03] derouck commented on #90
I lost a lot of time trying to get it working with these node soap packages. They do some useful stuff, but in the end it's quite complicated to get the requests send, especially because I needed a different way of using WS-Security with certificates. There is support for it in this package, but [this ws.js package](https://github.com/yaronn/ws.js) handles it in a much cleaner way. It's probably i

[2017-04-24 11:48] danofsteele commented on #90
Thanks @derouck, I ended up doing the similar with a combination of `request` and `handlebars` to make the request and build the XML. There's a section in request's Readme about certificates that I was able to use; https://github.com/request/request#tlsssl-protocol

I made use of `soap.WSDL.open` to help build the request params and the`soap.XMLHandler` to parse the response XML.

[2017-04-24 15:57] raymondfeng commented on #95
I think `'domain\\user_name'` is the right way to escape the slash. How did you print out `httpClientOptions`?

[2017-04-25 07:59] rpersso opened #96 "BUG: extension namespaces"
It appears fields do not get their namespaces applied properly when they are derived from a complex extension. See https://preprod.signicat.com/ws/documentservice-v2?wsdl, specifically the document->provided-document relation and the lack of namespaces for the data and description fields.

[2017-04-25 10:31] dipakchandranp commented on #95
Hi @raymondfeng ,

soap.createClient(wsdlURL, options, function(err, client) {
        console.log(client.httpClient.options);
});

[2017-04-25 11:32] dipakchandranp commented on #95
Also in the strong-soap package, in following file `strong-soap/src/soap.js` we have function `createClient(url, options, callback, endpoint)` and try to print the option in this file.

In here also the we are getting invalid value for the user name. Escaping of slash is not working in here also.

[2017-04-29 13:12] LucasBrazi06 commented on #84
We now pass the namespace at tag level instead at document level which is less efficient but it works.

[2017-04-29 13:12] #84 closed

[2017-05-08 13:05] prakharter opened #97 "SOAP Post to URL"
Hi ,

Please advise how can i make a direct POST to the below URL -
https://secure.paygate.co.za/payhost/process.trans

with SOAP XML Data - Because currently the method required a WSDL URL . THanks

[2017-05-12 20:55] bgdavidx commented on #53
I fixed the ordering of xsd elements without needing to fork xmlbuilder: https://github.com/TeamO3/strong-soap/commit/dd313e88e6c036fcfd0c89fbda88d1b79a4d6436

Hope this helps someone.

[2017-05-12 21:43] raymondfeng commented on #53
@bgdavidx Would you like to submit a pull request?

[2017-05-12 23:57] bgdavidx commented on #53
@raymondfeng sure, here you go: https://github.com/strongloop/strong-soap/pull/98

[2017-05-18 12:26] sytolk opened #100 "option in xmlToJson to convert attributes to elements"
I use xmlToJson to display SOAP XML to JSON and I want XML attributes to be converted into elements without "attributesKey". I see in xmlHandler.js that there is not configurable option for this (I can change only "attributesKey")

http://stackoverflow.com/questions/44043550/i-want-to-convert-attributes-to-elements-in-strong-soap-xmltojson

[2017-05-23 13:56] kurbar opened #102 "XMLHandler.jsonToXml with SOAPEnvelopeDescriptor not producing proper Envelope"
I have the following JSON I would like to add to the Envelope Body:
[code]

Now if I wanted to create an XML Envelope using this:
[code]

From the console.log I'd expect an XML that is a full Envelope with Header, Body and my given JSON also added.

Instead I only get the JSON I added as XML:

[code]

Did I mess up somewhere or am I misunderstanding the purpose of jsonToXml with SOAPEnvelopeDescri

[2017-05-24 07:17] kurbar commented on #102
After some fiddling, If I set the JSON as
[code]

Then the Envelope and Body are mapped correctly. They get prefixed etc, but the prefix does not still get carried over to the elements in the Body although it should:
[code]

[2017-05-29 17:54] jampy commented on #63
@Gamaroff did you find a solution?

[2017-05-30 07:25] Gamaroff commented on #63
Unfortunately not.

[2017-05-30 07:26] Gamaroff commented on #63
Yes I did. I will dig up the code.

[2017-05-30 07:35] Gamaroff commented on #63
When passing in the args I added a nested Request tag:

[code]

[2017-05-30 07:46] jampy commented on #63
@Gamaroff: sorry, I thought you had the same problem regarding the namespace

@joshlevinson: I'm having the exact same problem as you describe but unfortunately it does not "work all of the sudden". What version of `strong-soap` are you using?

[2017-06-01 08:55] chaitanya-mahamuni opened #103 "Add feature to make complex type nullable"
I want to set "xsi:nil=true" for complex type.
I was checking code in [xmlHandler.js](https://github.com/strongloop/strong-soap/blob/master/src/parser/xmlHandler.js)
From [line number 120](https://github.com/strongloop/strong-soap/blob/master/src/parser/xmlHandler.js#L120), only Simple types are considered for adding  "xsi:nil=true" attribute.
If I add below code above [line number 120](https://gi

[2017-06-01 15:46] kickthedragon opened #104 "Overriding request to not add namespaces and remove ns1"
Hey there,

I'm really having trouble overriding / removing the namespace prefix from the request.  I'm writing a module for fulfilltopia and I must be misunderstanding how to override or specify no namespaces in my request.

This is the following code for my module

[code]

And the runtime execution of an example Order

[code]

The SOAP services is expecting the request to look like this:

[code]

[2017-06-05 16:54] joshlevinson commented on #63
@jampy Unfortunately, I don't have access to the project I was working on anymore :/

[2017-06-06 06:39] jampy commented on #63
@joshlevinson: no problem. I switched to a custom SOAP client in the meantime. It was rather easy in the end and took less time than I already spent trying to get any of the node-soap libs to work :-)

[2017-06-08 17:21] castleofbones opened #105 "Slow executuion when creating client"
Hi,

I'm currenlty working on integration with Experian's Quick Address OnDemand service and have hit an issue.

I am able to generate the necessary XML to make a call to their service, however, I am seeing very slow execution times when creating the client with 15-20 seconds delay being introduced.  Yet if I copy the request XML into Postman and execute the call returns in ~60ms.

I'm using the f

[2017-06-08 19:23] rashmihunt commented on #95
@dipakchandranp I tried your usecase and I don't see this issue.  I correctly see 'domain\user_name' in soap.createClient(..).  In wsdl.open(..) function where it eventually constructs new HTTPClient, new HttpClient(options) and calls  httpClient.request(..) to make a http request to get the WSDL and I see here also your username is ''domain\user_name' as expected.

I am running on Mac OS. Wonderi

[2017-06-08 20:30] rashmihunt commented on #95
@dipakchandranp  I looked a bit further and looks like it's just issue with printing using console.log (..).  If you debug your code and put a breakpoint and check options in createClient(..) or in http.js at line 132 - self._request(options, ..) function, just before http request is made, you can see the  username is correctly set to ''domain\user_name'. This means your test case should be workin

[2017-06-08 20:45] rashmihunt commented on #96
@rpersso Can you send your test case code to show this problem?

[2017-06-08 20:58] rashmihunt commented on #105
@castleofbones
- Are you running strong-soap with debug enabled? If yes, this will cause the performance issues.
- I also noticed you have console.log statements in your client code above, which will cause performance issues as well. Can you remove them and check?

[2017-06-08 21:06] rashmihunt commented on #104
@kickthedragon  To help us understand further, in your request above created by strong-soap,  which namespace prefix you want to override/remove from the request? ns1: ?

[2017-06-08 21:55] rashmihunt commented on #103
chaitanya-mahamuni  to understand the schema of your usecase can you attach your wsdl and XSD where you have declared nillable="true" ?

[2017-06-09 09:54] castleofbones commented on #105
Hi,

I'm not always running it in debug that was merely to get some insight into where the slow down is occurring.

Same thing with the console.log statements, obviously not for production but helpful when to get the xml.

The debug shows a request taking 16 seconds to w3.org that is firing whenever I create  client.  How do I prevent this from happening?

[2017-06-09 10:43] castleofbones commented on #105
I've just tried running the request without the `options` variable to force SOAP 1.2 and the call works perfectly, go figure :-/

Guess I'll stick with that for now but any thoughts around the SOAP 1.2 would still be appreciated.

[2017-06-10 17:29] kickthedragon commented on #104
Correct, I'd like to remove ns1 from the namespace.  Below is a final working request I got working using the the `npm request` module for the SDK i'm writing.  Ideally i'd like to use your module with a SOAP client configured correctly so I wouldn't have to build a raw string at the moment.

[code]

[2017-06-12 17:13] rashmihunt commented on #103
- [ ]  Add xsi:nil=true to complexType
- [ ] Add mocha test
- [ ] Make sure no regression in existing tests/code

[2017-06-12 17:38] rashmihunt commented on #105
@castleofbones Are you pointing out options variable to force SOAP 1.2 was causing performance issue or is SOAP 1.2 is a different issue than the performance?

[2017-06-13 23:19] rashmihunt commented on #103
PR - https://github.com/strongloop/strong-soap/pull/106

[2017-06-14 18:26] rashmihunt commented on #103
Fixed in latest npm version 1.2.5

[2017-06-14 18:26] #103 closed

[2017-06-14 18:28] rashmihunt commented on #95
@dipakchandranp Let us know if above pointers helped. Will be closing this issue as working as design.

[2017-06-15 03:22] chaitanya-mahamuni commented on #103
@rashmihunt : great work... updated to 1.2.5.. Thanks for resolving issue... :)

[2017-06-15 16:26] rashmihunt commented on #95
Closing - working as expected. See above details.

[2017-06-15 16:26] #95 closed

[2017-06-16 17:01] #60 closed

[2017-06-21 10:24] rpersso commented on #96
[code]

[2017-06-21 17:06] rashmihunt commented on #105
@castleofbones I am bit confused by "I've just tried running the request without the options variable to force SOAP 1.2 and the call works perfectly" Does this mean your original performance issue no longer exist?

[2017-06-21 18:18] alewaros opened #108 "TypeError on result"
With the following code I'm getting a TypeError inside of the library.

[code]

Error
[code]

[2017-06-21 18:22] alewaros opened #109 "Failure on building for webpack"
With the following webpack configuration

[code]

I'm building my project but during the phase, multiple warnings and errors start appearing on the console

[code]

[2017-06-21 20:12] rashmihunt commented on #104
@kickthedragon strong-soap creates SOAP body strictly based on WSDL with correct namespace. In your case, it's  qualified by "http://omscom/" as per the WSDL. Hence you can not override or remove "ns1". I am wondering why you want to remove ns1? The web service which you are sending this request to, should be able to handle elements qualified with ns1 since it's as per the WSDL.

[2017-06-21 20:41] rashmihunt commented on #108
@alewaros can you paste the snippet your WSDL or XSD where 'union' element is defined? It should look something like
[code]

I am guessing by the error no 'memberTypes' is defined in your case.

[2017-06-21 21:00] rashmihunt commented on #108
@alewaros I can access the XSDs myself using your WSDL URL.. looking into it further which memberTypes is not defined.

[2017-06-21 21:09] alewaros commented on #108
The WSDL URL belongs to a company named Siteminder. What kind of problem presents the fact that the memberTypes property is not defined?

Is it something that they have to fix?

[2017-06-21 22:41] rashmihunt commented on #108
@alewaros looking at https://cmtpi.siteminder.com/siteconnect/schema/OTA_AirCommonTypes.xsd
the failure is for ```<xs:simpleType>
<xs:union memberTypes="UpperCaseAlphaLength1to3 OTA_CodeType"/>
</xs:simpleType>```
The memberTypes UpperCaseAlphaLength1to3 and OTA_CodeType are not defined in the XSD. Hence they are 'null' with above exception. Ideally UpperCaseAlphaLength1to3 & OTA_CodeType should b

[2017-06-21 22:55] rashmihunt commented on #109
@raymondfeng I am not familiar with the web pack. Can you please take a look at this issue?

[2017-06-22 21:14] rashmihunt opened #110 "CI failure due to port conflict"
http://ci.strongloop.com/job/strong-soap/node=0.10,os=windows/132/#showFailuresLink
[code]
[code]

[2017-06-28 10:09] plinkpaste opened #112 "Unable to add custom namespace to body tags."
Hi, the SOAP server I'm trying to talk to requires body tags to have a namespace of `ldb`, so my request arguments look like this:

[code]

However, the resulting XML doesn't include these namespaces:

[code]

How can I add the namespace to the tags? The SOAP service sends an error back without them.

[2017-06-29 00:24] #110 closed

[2017-06-30 10:22] vasyas opened #113 "Client of document/literal wrapped style doesn't create wrapped element"
WSDL is available at https://github.com/knutster/OCPP/blob/master/ocpp_centralsystemservice_1.5_final.wsdl

I'm creating a service:
[code]

But envelope body is missing wrapper element:
[code]

Noticed that this issue could also be related to #49

[2017-06-30 11:01] vasyas commented on #94
Affects me too.

[2017-06-30 13:08] vasyas opened #114 "No date conversion while parsing server input message"
It could be because XmlHandler.xmlToJson is called without supplied descriptors.

[2017-07-10 20:44] rashmihunt commented on #114
@vasyas can you send a test case to reproducing the issue?

[2017-07-11 10:06] aladinnnus commented on #114
I have probably the same error the response a get from my API include a date and it's got instead of a date Invalide Date

[2017-07-11 10:08] Simobain commented on #114
Hi !

I'm dealing with a soap API and all the returned dates are considered invalid. Is it possible to get a string instead ?
@rashmihunt thanks for your help !

[2017-07-11 10:31] Simobain commented on #114
The answer is simple :
try the date conversion before converting it :
line 740, file https://github.com/strongloop/strong-soap/blob/master/src/parser/xmlHandler.js

[code]

[2017-07-11 11:41] aladinnnus commented on #114
EDIT: It's working i tried it

[2017-07-11 11:55] aladinnnus commented on #114
just did a pull request

[2017-07-12 09:15] raffaeu opened #117 "How to correctly Pass Basic Credentials on createClient?"
I am working against a WSDL which requires Basic Authentication also to query the WSDL, so when I do run the `soap.createClient` I need to override the `options` parameter and pass proper Basic Credentials.

At the moment, if I do use this method, **it works just fine**:

[code]

But, if I do try to use this method, then __it does not work and I get 401__:

[code]

I also tried this version which

[2017-07-12 11:17] raffaeu commented on #117
Just to give you more insights, this is the method working **only for discovering**:

[code]

But later, when I am using the `client`, I still have to pass credentials using `client.setSecurity(new soap.BasicAuthSecurity('myusername@mydomain', 'mypassword'));`

[2017-07-18 18:30] psubramanian opened #118 "WSDL Path reference issue in Strong-Soap"
I have a node js that calls my existing soap service. My code looks like...

`var wsdl = 'https://xyz.com/MyHomeService?WSDL';
var options = {};
soap.createClient(wsdl, options, function(err, client) {`

When i tried to execute this, i see there is an error thrown by line #3  as below...
`Invalid WSDL URL: https://xyz.com/MyHomeService?WSDL
 Code: 500`

When i do some research on this, i observed

[2017-07-23 22:29] #118 closed

[2017-07-23 22:32] psubramanian commented on #118
This seems to be a XSD reference issue. I resolved it by copying the schema along with the wsdl file.

[2017-08-02 11:26] sanjeev-iitr-uk opened #120 "where to pass the Username and Password to invoke a secured api ?"

[2017-08-03 22:54] LucasBrazi06 opened #121 "createClient(): pass the WDSL content as a String"
Hi,

Is there a way that I read myself the WSDL file and pass it as a string like I do with soap.listen() method?

Thanks,
Serge.

[2017-08-08 14:59] dottgonzo opened #122 "examples are not working"
This is the first time i use this module, so maybe my tests are wrong.

I've tried the module with the examples present on this repo (/example/weather.js and example/stockquote.js), with my pc (Ubuntu x86_64 16.04, node 6.11.2, npm 5.3.

i've cloned the repo, installed everithing with "npm install" and then i runs the examples with this results:

$ node example/stockquote.js

Response Envelope:
<?

[2017-08-15 14:39] Bundas opened #123 "strong-soap can NOT handle arrays!"
Strong soap is not handling arrays correctly! Look at the **Polozky** property

this is my object that i pass to method in client

[code]

and this is output

[code]

Wtf?

[2017-08-28 05:26] jt-helsinki opened #125 "Strong-Soap throws error with Electron"
# Description/Steps to reproduce

Try to call the strong-soap library from the render process inside an Electron application. The complete process.versions object is not available to the strong-soap library. The error I receive is:

`process.versions.node` is undefined so this line `var major = Number(nodeVersion.split('.')[0]);` won't work.

I can fix this error by replacing the `strong-soap/inde

[2017-09-12 08:14] sanja224 opened #126 "Data types are not sent in the same order as defined in the WSDL file"
Is there a way that strong-soap itself handles the order of the input properties?

[2017-09-21 20:45] vadivelkindhealth opened #127 "Adding two layer security"
Is there a way to add two security options to the soap client? Like ClientSSLSecurity and WSSecurity(username, password).

From 'client.js:setSecurity' method, I see that we could add only one. Would like to bypass this and add two security options.

Thanks!

[2017-10-10 20:23] rhali786 commented on #117
Figured it out.

[code]
https://stackoverflow.com/questions/27028509/node-soap-consume-password-protected-wsdl/46675340#46675340

[2017-10-24 13:47] hxtomprice commented on #123
We've been having the same issue. The workaround we found was to move the array to the inner elements, so for in your case it would be:
[code]

[2017-11-06 18:59] hoffmanjon opened #128 "Using Strong-Soap with Ionic 2"
I apologize that this is not really an issue but not sure where I can ask this question.  I need to add a soap client to an Ionic 2 application.  I added strong soap to my application using 'npm install strong-soap --save'.  then at the top of my typescript file I added:

`import * as sSoap from 'strong-soap';`

But when I make the createClient call the application crashes.  The createClient funct

[2017-11-09 07:24] sanysaran opened #129 "gyp ERR! stack Error: self signed certificate in certificate chain"
I have been trying to install soap client for my project requirement

I have tried following soap clients
npm install strong-soap

I get the following issues while installing

**Installation Error**
gyp WARN install got an error, rolling back install
gyp ERR! configure error
gyp ERR! stack Error: self signed certificate in certificate chain
gyp ERR! stack     at Error (native)
gyp ERR! stack     a

[2017-11-11 10:17] #121 closed

[2017-11-20 19:35] Glavin001 commented on #94
The problem is the `toString` method on a `Date` object. The `Date` object is used for `xsd:datetime`: https://github.com/strongloop/strong-soap/blob/09b1cfdd9582a592874c09fa47f5f301d2ed2ae2/src/parser/helper.js#L11-L13

![image](https://user-images.githubusercontent.com/1885333/33037591-6cecc31e-ce08-11e7-9b22-4933fd58a896.png)

Overriding the `toString` on `Date` should work. Investigating now.

[2017-11-20 21:16] Glavin001 commented on #94
We ended up forking Strong-SOAP and changing from `Date` to a `String`. This ended up being the desired behaviour for us.

However, the following could be useful for someone else:

[code]

Then:

[code]

[2017-11-20 21:24] raymondfeng commented on #94
Please create a patch to use your technique or fix https://github.com/strongloop/strong-soap/blob/master/src/parser/xmlHandler.js#L164.

[2017-12-07 16:50] bhavnagyanchandani opened #130 "Facing issue while using this node module with Workday"
We are working on POC wherein we are trying to use this node module to invoke web services offered by Workday.
The WSDL for the same is available here - https://community.workday.com/sites/default/files/file-hosting/productionapi/Human_Resources/v29.1/Human_Resources.html.
With the initial debugging, it seems like it is unable to fetch the SOAP Version in the node module and hence, is unable to pr

[2017-12-12 17:10] tolland opened #131 "Issue with WSSecurity PasswordDigest"
Hi,
(I am new to nodejs, so apologies if I have missed anything basic...)

I have been working with the onvif web service that exists on come cctv cameras. I was previously using the node-onvif package, but switched to strong-soap for greater flexibility. When using non-authenticated services, I am able to use strong-soap fine. However I get authentication errors when trying to add the WSSecurity

[2018-01-02 08:35] bhavnagyanchandani opened #134 "Using Strong-soap node module, It is not adding namespace to the attributes of the elements"
Using Strong-soap node module, It is not adding namespace to the attributes of the elements and due to which I am getting error -Invalid Attribute.
[code]

Now, Using the xml2json utility, I converetd this to JSON which is as below:
[code]

Passing this input to the node module, the payload that is generated is as below which is not having namespace for the attribute tag and hence getting the erro

[2018-01-02 18:38] raymondfeng commented on #130
Please add your test case to help us reproduce the issue.

[2018-01-03 09:53] bhavnagyanchandani commented on #130
@raymondfeng - PFB teh test case that I am trying:
[code]

Also, Please find attached the screenshot of the error that we are getting:
![capture_workdaywsdl_issue](https://user-images.githubusercontent.com/17310585/34515753-ad7e1aaa-f099-11e7-89a9-57fed8d9b55a.PNG)

Please let me know if you need any more information.

[2018-01-05 02:17] lakamsani opened #136 "Unable to get StockQuote WSDL tests to work with a mock server"
# Description/Steps to reproduce

See: https://github.com/lakamsani/soap#how-to-run . I have an async and a normal  test both hitting a local Mock stock quote server.  Can't get either to work.

# Link to reproduction sandbox

https://github.com/lakamsani/soap

# Expected result
[code]

# Actual result
[code]
# Additional information
On `darwin x64 8.9.0` , not using loopback.

[2018-01-05 05:13] ziadloo opened #137 "Elements defined in an included xsd file are not found by the wsdl parser"
# Description/Steps to reproduce
First of all, I believe this is a bug. Secondly, as for the steps to replicate the issue, here's the conceptual way to do so:

1. Have a WSDL with external xsd schema file(s) included
2. Create a SOAP client based on that WSDL

And here are the steps based on the provided [test_case.zip](https://github.com/strongloop/strong-soap/files/1606925/test_case.zip):
1. `$

[2018-01-07 05:20] ziadloo commented on #137
Hi @raymondfeng,

Thanks for the quick patch. It fixes the problem given in the test case. But as I was testing it I faced another case where your provided patch does not fix (I'm not sure if you are done with it or not). I thought now that you are at it, I should give you another test case so your patch will be complete. Please find it here:

[test_case_2.zip](https://github.com/strongloop/strong

[2018-01-08 22:24] raymondfeng commented on #137
I have pushed a new fix under https://github.com/strongloop/strong-soap/pull/138. Pls try again.

[2018-01-08 22:25] raymondfeng commented on #134
@bhavnagyanchandani Please provide a simple code snippet to reproduce the problem.

[2018-01-08 22:26] raymondfeng commented on #130
@bhavnagyanchandani Can you verify the fix work for you?

[2018-01-08 23:00] ziadloo commented on #137
Thank you so much, @raymondfeng. It seems to me that it's working.

[2018-01-09 06:32] bhavnagyanchandani commented on #130
@raymondfeng: This is now working for Workday WSDL. The issue is resolved. Thanks for helping on it.

[2018-01-10 09:28] bhavnagyanchandani commented on #134
@raymondfeng - I am attaching workday.js file where I am trying to call a method from the WSDL.
Also, I have tried to add a "console.log" statement in the client.js file on the line no 238, please see the attached screenshot:
![image](https://user-images.githubusercontent.com/17310585/34764483-afb06668-f614-11e7-8610-da224dc109f8.png)

When running the workday.js, the xml payload that is getting f

[2018-01-11 13:31] benfoxall commented on #59
It's possible to do this with the `security` client option:

[code]

I've spent quite a while looking through the relevant code in [client.js](https://github.com/strongloop/strong-soap/blob/master/src/client.js#L170-L188) - and I'm fairly sure that this is safe.

I think it would feel a bit nicer if `security.addSoapHeaders` received the request options as well as the header.  I'd be happy to rais

[2018-01-11 14:41] Guatom commented on #59
Hey @benfoxall! Thanks for your reply.

It looks like you're totally right! If I understood correctly, the headers would be added to the envelope after the envelope is created (line 187), so the client remains the same. Great catch.

So far we've been using `changeSoapHeader` and that hasn't caused troubles so far. If any problem appears, we'll definitively move to what you said or something clean

[2018-01-12 22:55] #137 closed

[2018-01-15 09:23] bhavnagyanchandani commented on #134
@raymondfeng - I have tested the fix shared in the PR https://github.com/strongloop/strong-soap/pull/139 and it is working perfectly fine and the issue seems to be resolved. Thanks for helping to fix the issue.
I would be looking forward to get this branch merged to master. cc @rashmihunt

[2018-01-15 13:37] LukaszEnegive opened #140 "Documentation: Constraints for using the SOAP client."
Hello,

Could you clarify whether a soap.createClient should be called for every SOAP request or only once?
What happens when two methods are concurrently invoked on the same client?

Thank you for answers,
Łukasz Czerwiński

[2018-01-16 12:39] bhavnagyanchandani commented on #130
Closing this issue as it is fixed in PR https://github.com/strongloop/strong-soap/pull/135.

[2018-01-16 12:39] #130 closed

[2018-01-16 12:40] bhavnagyanchandani commented on #134
Closing this issue as it is fixed in PR https://github.com/strongloop/strong-soap/pull/139.

[2018-01-16 12:40] #134 closed

[2018-01-22 21:41] NuSkooler opened #141 "XML not formed as expected"
I'm calling a SOAP method and am getting an unexpected format sent out.

`client.Method(args, (err, result) => { ... } );` with args of:

[code]

Sends XML as follows:
[code]
(note missing `ns1` prefix on `type`, `path`, and `skip` above)

Expected XML:
[code]

Any ideas? I've tried all sorts of approaches without any luck.

[2018-01-22 22:41] raymondfeng commented on #141
@NuSkooler Please provide your wsdl/xsd. The following hints a unqualified local elements:
[code]

[2018-01-23 00:06] NuSkooler commented on #141
@raymondfeng I believe this is what you're after: https://pastebin.com/UDKyCvTH

If I need to provide more, I'm happy to do so. VMWare's vCenter SOAP WSDL/XSD is split up into many query/files.

[2018-01-23 00:09] raymondfeng commented on #141
Please provide complexType for `vim25:DynamicData`, which is missing from the xsd.

[2018-01-23 00:18] NuSkooler commented on #141
@raymondfeng Thanks for the fast turn-around! Here you go: https://pastebin.com/NfjmdEcf

[2018-01-23 00:26] raymondfeng commented on #141
Hmm, it seems that json2xml does not honor `xsi:type` to map subtype data. In your case, it is `TraversalSpec`, which extends from `SelectionSpec`.
[code]

[2018-01-23 01:12] NuSkooler commented on #141
@raymondfeng Any ideas on a work around? I haven't been able to get `$xml` to work at all for example, or I could just hack around it for now.

[2018-01-23 22:13] raymondfeng commented on #141
We need to fix the code to take `xsi:type` into consideration to map sub types.

[2018-01-23 22:35] NuSkooler commented on #141
@raymondfeng I'm happy to take a stab at whatever needs done, but I'll need some guidance in what I'm after :grin:

[2018-01-24 16:36] raymondfeng commented on #141
It might be a bit involved. I'll do some investigation 1st. I'll let you know if/when you can help.

[2018-01-24 17:47] raymondfeng commented on #141
@NuSkooler Please try out https://github.com/strongloop/strong-soap/pull/142

[2018-01-24 18:12] NuSkooler commented on #141
@raymondfeng Looks like that did the trick!

[2018-01-24 22:50] #141 closed

[2018-01-24 22:50] raymondfeng commented on #141
Fix released in `strong-soap@1.4.2`.

[2018-01-24 23:12] NuSkooler commented on #141
@raymondfeng Thank you very much again for looking into this & getting it fixed quickly. This one change allows a project I'm working on to make a single SOAP call where I had to do hundreds recursively.

:1st_place_medal:

[2018-01-30 13:14] madeel385 opened #143 "Can't create soap client on node"
Hi,
When I tried to create client using strong-soap on Sails.js. I'm facing below error.
**ERROR**
undefined
{ [Error: Parse Error] bytesParsed: 161, code: 'HPE_INVALID_HEADER_TOKEN' }

Code I'm using
process.binding('http_parser').HTTPParser = require('http-parser-js').HTTPParser;
var soap = require('strong-soap').soap;

var url = 'https://payments.jazzcash.com.pk/PayAxisExternalStatusService/Sta

[2018-03-10 23:50] MrEko opened #145 "soapHeader, rawRequest always undefined"
Why soapHeader and rawRequest always result 'undefined'?

Sample code:
[code]
Result:
[code]

I need get some properties in the Header.
Tested in SoapUi I could see these properties.

[2018-03-11 01:50] #145 closed

[2018-03-15 09:49] PaulHindenberg opened #146 "strong-soap: Wrong sequence of xsd imports in wsdl leads to error"
# Description/Steps to reproduce

Firstly, I think this might be a bug since e.g. SOAP UI is able to parse the original WSDL and strong-soap returns an error.

The error appears while loading the WSDL with createClient(). Nothing special here.

The provided WSDL has 3 schema imports.
- Position1: exceptions
- Position2: types
- Position3: types

I was able to find a workaround by switching the xsd

[2018-03-15 17:46] raymondfeng commented on #146
@PaulHindenberg Can you verify if https://github.com/strongloop/strong-soap/pull/147 fixes your problem?

[2018-03-16 08:16] PaulHindenberg commented on #146
@raymondfeng Yes, this fixes my issue, thanks Raymond.

[2018-03-16 19:24] joseabraham opened #148 "No Deserializer Found"
Hi I'm getting the following error when calling the operation on the client, my guess is that I'm not constructing the right message in the arguments sent as json.

Can somebody guide me on how to do this? I'm sending as well the WSDL file below.

Thanks in advance!

#ERROR
 SOAP-ENV:Client faultstring: No Deserializer found to deserialize a ':cotizacionPoliza4Request' using encoding style 'null'.

[2018-03-19 13:34] MikeNats opened #149 "v1.6.0 - RangeError: Invalid array length"
In the new release v1.6.0
 ` this.includes = this.includes.concat(source.includes);`  was introduced at
`.../node_modules/strong-soap/src/parser/xsd/schema.js:33`

When I `node  .` my loopback server  throws an error with the below stack trace:

[code]

It works fine with v1.5.0.
Any idea?
I use `...`  to hide obvious information

[2018-03-19 15:59] raymondfeng commented on #149
@MikeNats Can you try to see if 1.6.1 fixes your problem?

Your wsdl/xsd files will be helpful to reproduce the problem.

[2018-03-19 16:19] MikeNats commented on #149
`npm ERR! notarget No compatible version found: strong-soap@1.6.1`

[2018-03-19 16:49] raymondfeng commented on #149
It may take some time for npm to see it.

[2018-03-19 16:55] MikeNats commented on #149
`RangeError: Invalid array length`  error   seems to occur because of a recursive import of files.
and throws as the array is growing exponentially.

As you use lodash  maybe a quick fix is to use  `_.uniqeBy`  with second argument  `namespace`.
so something like the below just to make sure that you want concat an array that yits size is >2^32.
https://developer.mozilla.org/en-US/docs/Web/JavaScri

[2018-03-19 16:58] raymondfeng commented on #149
@MikeNats Can you provide your WSDL/XSD files so that I can reproduce the problem and fix it accordingly instead of guessing and trying?

[2018-03-20 17:13] snagi commented on #149
@raymondfeng, Please see the WSDL/XSD and associated datasource.json file for configuring the connector in attached zip file.
[WSDL-and-datasource.zip](https://github.com/strongloop/strong-soap/files/1830384/WSDL-and-datasource.zip)

[2018-03-20 20:26] raymondfeng commented on #149
@MikeNats @snagi Please verify https://github.com/strongloop/strong-soap/pull/150.

I have included your test wsdl/xsd files in the PR. Please note that I had to fix some dangling references.

[2018-03-21 15:10] bhavnagyanchandani opened #151 "client.describe() not returning all the information available in the WSDL."
I am using this "strong-soap" node module with Workday WSDL and the link for which is available here -https://community.workday.com/sites/default/files/file-hosting/productionapi/Learning/v29.1/Learning.html.

PFA the screenshot from the WSDL:

![image](https://user-images.githubusercontent.com/17310585/37718075-e0bb2b48-2d47-11e8-9766-5758c93a32a2.png)

But the response from the client.describe()

[2018-03-23 13:36] UltraDosaaf opened #152 "Can't add custom attributes"
I'm trying to make this:
[code]
Looks like this:
[code]
I'm using `wdslOprions` argument
[code]

[2018-03-24 00:41] AdrianP94 commented on #112
Same issue, any solution?

[2018-03-24 07:03] shahravir commented on #112
Hi Adrian,

The issue was with the multipart WSDL where the wsdl:part and wsdl:input names were different (variable names). I updated wsdl with this cosmetic change and it works as expected.

Thanks,
Ravi Shah

[2018-03-26 11:37] bhavnagyanchandani commented on #151
@raymondfeng - I have tried with simple WSDL. PFA the WSDL I have tried.
[SampleDummy.zip](https://github.com/strongloop/strong-soap/files/1847576/SampleDummy.zip)
I have also tried to print the below for further lookup:

1. client.wsdl.definitions.schemas
2. client.wsdl.definitions.schemas["http://Example.org"].elements.Add.parent.elements.AddResponse

But in the results, I didn't find the inform

[2018-03-26 13:55] bhavnagyanchandani commented on #151
@raymondfeng - Further update on trying out Workday WSDL with this node nodule -
I have tried to print the below for further lookup:
**_client.wsdl.definitions.schemas_**
But in the results, I didn't find the information about **_minOccurs, maxOccurs, description_** which is available in the WSDL. Please help us to understand on how we fetch that information from the SOAP client.

[2018-03-26 17:26] raymondfeng commented on #149
Fixed by #150

[2018-03-26 17:26] #149 closed

[2018-03-26 17:27] raymondfeng commented on #151
@bhavnagyanchandani Such as attributes should be available as `$minOccurs` and `$maxOccurs`.

[2018-03-27 13:45] NaurozAhmad opened #153 "No Action Header found with namespace"
I'm working with SOAP for the first time and ran into this error: "No Action header was found with namespace 'http://www.w3.org/2005/08/addressing' for the given message."

I simply created a client and tried running a method and then I receive this error.

I also tried adding Soap header using function `client.addSoapHeader()` but that caused another error saying Bad Request.

[2018-03-28 18:27] bhavnagyanchandani commented on #151
@raymondfeng - I tried accessing the minOccur and maxOccur attributes of the element as shown in below screenshot.
![image](https://user-images.githubusercontent.com/17310585/38048154-42642b16-32e2-11e8-871e-822dee292c63.png)

Now, here to access attributes of one such element, I have to iterate the children and using dot notation, I have to fetch the attributes.
But when using this node module wi

[2018-03-29 07:16] bhavnagyanchandani commented on #151
@raymondfeng - Also, I tried accesing the documentation from the WSDL,
PFB the screenshot of the WSDL:
![image](https://user-images.githubusercontent.com/17310585/38075049-925d365a-334e-11e8-9ff0-506c05eae2c7.png)
We need this for adding description in the LoopBack model, but we are unable to get its value. Could you please guide me on how to access the value of documentation field as well.

[2018-04-06 18:29] dhmlau commented on #38
Fixes via https://github.com/strongloop/strong-soap/pull/44
Closing this ticket.

[2018-04-06 18:29] #38 closed

[2018-04-13 11:39] yuvanesh10 opened #156 "CORS error with strong soap"
Questions:
  I am using strong soap in node server and sending SOAP message to angular. Even after using CORS from npm. the error still persists. What am I doing wrong here ?

# Description/Steps to reproduce
add the following header to the server file

//CORS PLUGIN
var cors = require('cors');
var app = express();
app.use(cors());
app.use(function(req, res, next) {
  res.setHeader('Access-Control

[2018-04-16 12:51] daesign-dev commented on #128
Can you try ?
[code]

[2018-04-16 12:52] sdete commented on #128
Does it work ?

[code]

[2018-04-17 05:33] bhavnagyanchandani commented on #151
This issue seems to be fixed now and I am now able to access the description.Hence, closing this issue.

[2018-04-17 05:33] #151 closed

[2018-05-09 17:09] candam opened #158 "Array argument support for strong-soap"
# Description/Steps to reproduce
Hello I'd like to ask for supporting array cause the api I'm trying to connect to
is currently expecting array

    Shipments: ['3915342793', '3915342826']
The generated xml for the request is
    <ns1:Shipments/>
is empty because strong soap cannot read array types

[2018-05-11 21:29] briboles opened #159 "Support for soap 1.1 and 1.2 bindings on same URL Path."
Ran into an issue trying to create a SOAP service that supports both SOAP 1.1 and 1.2 on the same URL. When this URL is called using either a SOAP 1.1 or SOAP 1.2 envelope from the client the SOAP server always uses the port listed first in the list of ports in WSDL.

https://github.com/strongloop/strong-soap/blob/master/src/server.js#L163-L173

This section of the soap server code returns the fir

[2018-05-15 15:29] Tiberriver256 opened #160 "No type definition (*.d.ts) for TypeScript users"
It would be really nice for TypeScript users such as myself if you provided a type definition file with the package such as node-soap did [here](https://github.com/vpulim/node-soap/blob/master/lib/soap.d.ts) or create one in the DefinitelyTyped repository.

[2018-05-16 17:16] raymondfeng commented on #160
I would like to convert the code into TypeScript so that we can get type definitions for free.

[2018-05-16 19:42] Tiberriver256 commented on #160
That would be awesome

[2018-05-22 12:18] calbertts opened #161 "JavaScript heap out of Memory"
# Description/Steps to reproduce

After running thousands of requests, I've got:

[code]

# Expected result

If there's a huge amount of data to be parsed, it should throw an exception instead of ending up with the node process because of memory.

[2018-05-26 13:13] yushaUzumo opened #162 "Strong-soap response/result does not look correct. How do I get the result I want from response that is sent back?"
I am using strong-soap in node.js.The result json I get is not the result I am expecting or that I get when using microsoft WCF. Here is my code:

`
"use strict";

var fs = require('fs');
var base = process.env.PWD;

var publicKey = fs.readFileSync(base + "/cert.pem", "utf8");
var privateKey = fs.readFileSync(base + "/key.pem", "utf8");
var ca = fs.readFileSync(base + "/msservices.pem", "utf8");
v

[2018-05-26 13:53] yushaUzumo commented on #162
In the body at the bottom which I removed in the json above I get the error: "The signature or decryption was invalid"

Here is the body

'<soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"><soap:Body><soap:Fault><soap:Code><soap:Value>soap:Sender</soap:Value><soap:Subcode><soap:Value xmlns:ns1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">ns1

[2018-05-26 14:06] #162 closed

[2018-05-26 14:10] yushaUzumo opened #163 "The signature or decryption was invalid"
I am getting the error: "The signature or decryption was invalid" when i use strong-soap to access a service. Here is my code:

`
"use strict";

var fs = require('fs');
var base = process.env.PWD;

var publicKey = fs.readFileSync(base + "/cert.pem", "utf8");
var privateKey = fs.readFileSync(base + "/key.pem", "utf8");
var ca = fs.readFileSync(base + "/msservices.pem", "utf8");
var password = "mypa

[2018-05-30 17:41] hudsontavares commented on #128
You can try to import it as

`import { soap } from 'strong-soap;`

[2018-06-01 06:23] Runrioter opened #164 "How to set timeout of request"
How to set timeout of request?

[2018-06-01 22:03] dhmlau commented on #164
@Runrioter , are you looking for this? https://github.com/strongloop/strong-soap#clientserviceportmethodargs-callback-options-extraheaders

[2018-06-02 04:11] Runrioter commented on #164
@dhmlau  thanks for your reply. Is it ok like this? https://github.com/Runrioter/id5/blob/fa9f9452252553a77250cc51ce1d714259a60e27/index.js#L37

[2018-06-03 06:28] #164 closed

[2018-06-08 16:43] shopsoy opened #165 "Add header with session ID"
Hi,

Using SOAPUI and using the following xml I can perform the desired action.

[code]

Now When using strong-soap Im not successful becuase is always returing error informing the wrong session ID. How Can I add the session ID in the header request? I know that is something with the options but no success. Please help

[code]

[2018-06-09 01:01] dhmlau commented on #122
@dottgonzo , sorry about the late response.  As far as I know, the weather and stockquote web services no longer exist.  Would you like to submit a patch for using some existing web services instead?

[2018-06-11 13:08] codelightgit opened #166 "wcf"
Hi,

is it possible to add attachments as a

[2018-06-11 13:08] #166 closed

[2018-06-11 13:09] codelightgit commented on #166
#

[2018-06-22 21:25] yipiha commented on #84
Is it possible to add a namespace to the whole envelope (i.e., in the soap:Envelope tag) or not?

[2018-06-27 15:47] raymondfeng commented on #163
You can turn on debug by setting env var `DEBUG=strong-soap:client` to check what SOAP request is sent.

[2018-06-27 15:49] raymondfeng commented on #161
Are you seeing memory leak?

[2018-06-28 15:01] hugogrochau commented on #109
I managed to get around this error by adding:
[code]

to my webpack config and installing `cldrjs`

But an upstream solution would be ideal. Researching around it seems to be related to module system this package uses.

[2018-07-29 00:25] vineet-jain opened #170 "Support to send soapAction for SOAP 1.2 service invocation"
Ran into issue while trying to consume SOAP 1.2 service. After debugging identified that soapAction header is not sent through for that operation in case of SOAP 1.2, while it is present in case of invocation of SOAP 1.1 service.

Expectation - soapAction should be sent as part of headers in case of invocation of SOAP 1.2 service as well. If not sent always it should be driven if WSDL has defined

[2018-07-31 17:17] edtguy commented on #152
I used client.addSoapHeader('{raw xml}'), e.g.:

    client.addSoapHeader('<Movie s:mustUnderstand="1" xmlns="http://schemas.microsoft.com/ws/2005/05/addressing/none">http://youtube.com/p/d|Opd0dsg</Movie>')

[2018-07-31 21:18] edtguy opened #173 "Please help: How do I add namespace?"
Please help. I've looked through documentation and issues, and can't figure out how to add a namespace to the envelope or to a request element. Here is what is produced

    <s:Envelope xmlns:s="http://www.w3.org/2003/05/soap-envelope">
      <s:Header>
        <a:Action s:mustUnderstand="1">http://www.ultipro.com/dataservices/bidata/2/IBIDataService/LogOn</a:Action>
        <a:To s:mustUnderstand

[2018-08-01 13:38] b-admike opened #174 "Write JSDocs for xmlHandler function"
# Description/Steps to reproduce

Right now, it is not clear what `xmlHandler` takes in for parameters without digging into the code. This task is to add JSDocs for the function so it is easier to understand for developers working with it.

[2018-08-01 13:59] b-admike opened #175 "Schema aware XML serialize capability in 'XMLHandler'"
## Description/Steps to reproduce

Given an Xml Schema Definition (XSD), I would like to serialize a JSON object into an XML document which conforms to the schema. Related to #174.

## Acceptance Criteria

- [ ] given a xml schema, json can be converted to XML documents
  - [ ] create an example (could be a separate repo?) that shows how to do bidirectional conversion conforming to xml schema
  -

[2018-08-01 19:28] #173 closed

[2018-08-09 01:17] dhmlau opened #177 "Support XML serialization/deserialization with XML schema"
To support serialization and deserialization of json -> xml conforming to XML schema, there are a few to-dos:
- [ ] given a xml schema, json can be converted to XML documents
    -  [ ] create an example (could be a separate repo?) that shows how to do bidirectional conversion conforming to xml schema
        - Investigate whether we can do it with no/minimal code change.
- [ ] given a xml documen

[2018-08-09 13:59] b-admike opened #178 "XML Deserialization with an XML schema"
## Description/Steps to reproduce

Given an XML document and XML schema, I would like to deserialize it to a JSON object (how does it differ from XML write functionality without xml schema?).

[2018-08-10 05:01] Dhimanboy opened #179 "WSDL in OBS service , strong-soap request formatting issue but able to consume same service using soap UI client"
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2018-08-10 15:06] raymondfeng commented on #179
@Dhimanboy Please provide more information, such as the WSDL and expected vs. produced SOAP request.

[2018-08-15 22:31] alexcorre opened #180 "unable to parse wsdl due to missing part.element"
# Description/Steps to reproduce

I believe this to be a bug since SOAP-UI is able to parse the .wsdl file in question. I'm having trouble pinpointing the exact point of failure during parse, but the following steps demonstrate inability to parse the given .wsdl file making use of the included `strongsoaptest.zip` below.

[code]

1. Download and unzip `strongsoaptest.zip` (below).
2. `cd strongsoa

[2018-08-15 23:26] alexcorre commented on #180
closing. will reopen with a better example.

[2018-08-15 23:26] #180 closed

[2018-08-16 14:38] vballa commented on #109
@hugogrochau,

When you added the following to webpack config

[code]

was there any other error? I see the following

{ Error: ENOENT: no such file or directory, lstat '/cldr'
    at Object.realpathSync (fs.js:1657:15)

Could you please help

[2018-08-16 14:53] raymondfeng commented on #109
It seems the offending strong-globalize version is 2.x. Can you try 3.x or 4.x? The latest version of strong-soap uses strong-globalize 3.x.

[2018-08-16 15:00] vballa commented on #109
Still the same error even with strong-globalize 4.x version

[2018-08-16 15:09] raymondfeng commented on #109
Hmm, the root cause is probably https://github.com/globalizejs/globalize/blob/master/src/date.js. Can you open an issue there?

[2018-08-17 01:40] alexcorre opened #181 "feature request: define outgoing SOAP headers per operation not client"
# Description/Steps to reproduce

First off, been using strong-soap for the past year implementing a number of integrations and its been great! Much less trouble and more reliable than the incumbent `soap` lib.

My team is working with an API that requires SOAP [Addressing](https://www.w3.org/Submission/ws-addressing/). Specifically requests are denied if they do not include the soap headers `To`

[2018-08-17 10:44] vballa commented on #109
One more issue, when I use webpack to build the app and use the client object, client does not contain the WS methods.

i.e xmlHandler element of client does not have functions created. hence when I do client.<function> it returns an error saying

client.<functionName> is not a function

Can you please shed some light on this.

Thanks in advance.

[2018-08-17 10:47] vballa commented on #109
Also worth mentioning

[code]
returns {}

[2018-08-17 14:12] raymondfeng commented on #181
@alexcorre Thank you for the detailed description. I think it's a good idea to generalize `security` related hooks into plugins (such as client.setPlugin) for other purposes. The `client.setSecurity` api stays as a wrapper to the `setPlugin`.

If you can submit a PR, we'll work with you to get it merged and released. Thanks in advance.

[2018-08-17 18:17] alexcorre commented on #181
thanks @raymondfeng.  I'll take a stab at it and we can go from there.

[2018-08-17 18:43] Dhimanboy commented on #179
@raymondfeng  thanks for your response
issue is resolved

Json request was not in correct format

was sending request as below ;

{
key1 :"",
key2 :""
..
}

correct format as below

{
"parentKey":{
key1:"",
key2:""
}
}
was not added parent key as defined in xsd .

[2018-08-17 18:44] #179 closed

[2018-08-21 12:46] arkore commented on #158
Try this and see if it works for you

`Shipments: [{$value: '3915342793'}, {$value: '3915342826'}]`

This will produce two ns1:Shipments tags. If the shipment ID's should be in child tags then

`Shipments: {ShipmentIDs: [{$value: '3915342793'}, {$value: '3915342826'}]}`

Which will produce
<ns1:Shipments>
  <ns1:ShipmentIDs></ns1:ShipmentIDs>
  <ns1:ShipmentIDs></ns1:ShipmentIDs>
</ns1:Shipments>

[2018-08-24 14:50] nikhiljain2112 commented on #161
@raymondfeng , is this issue fixed ? I am also getting the same issue.

`08-15T22:55:42+01002018-08-15T21:55:42.281Z - : pid:42529 worker:1 <--- JS stacktrace --->2018-08-15T22:55:42+01002018-08-15T21:55:42.281Z - : pid:42529 worker:1 ==== JS stack trace =========================================2018-08-15T22:55:42+01002018-08-15T21:55:42.281Z - : pid:42529 worker:1 Security context: 0x35b22a13fa99

[2018-08-24 16:45] raymondfeng commented on #161
@nikhiljain2112 Can you run Node.js heapdump to see what's leaking?

[2018-08-28 14:18] nikhiljain2112 commented on #161
Ok, I will do heap dump and will let you know the result.

[2018-08-29 07:58] bdkanand opened #184 "Example for handing cdata section"
# Description/Steps to reproduce
I see in the change logs that strong soap supports cdata section in the xml, but not able to use it as no documentation/example is available.

# Link to reproduction sandbox

# Expected result
Need an example of strong soap with cdata

# Additional information

[2018-08-29 16:58] mckaycr opened #185 "Sending MTOM Attachments"
# Description/Steps to reproduce

I'm trying to submit an MTOM attachment through the soap client, I have no idea how to accomplish it

# Link to reproduction sandbox

# Expected result

Some pointers or syntax that might help

# Additional information

[The system I'm trying to interface with](https://www.npdb.hrsa.gov/software/QRXSWebServiceUserGuide.pdf)

[2018-09-12 22:18] RandyWilkinson opened #187 "XSD element order issue"
# Description
I see that there was a fix roughly 7 months ago for element ordering and most of the tests center around nested and inherited complex type sub elements. But I have a simple method parameter with elements that are being produced in the wrong order. This results in the web-service not being able to deserialize the parameters correctly.

Simple imported complex type:
[code]
Building and

[2018-09-21 02:28] dhmlau commented on #25
Closing due to inactivity.

[2018-09-21 02:28] #25 closed

[2018-09-25 06:39] inane opened #191 "WDSL website is not working"
Hi!!

Your example is not working because the website specified is down and it is not working.

Please could it be possible to update the example of your documentation with one alternative? it is very important to know the correct behavior of the module for  one future implementation.

Thank you in advance.

[2018-09-26 00:30] dhmlau commented on #191
Hi @inane , thanks for bringing this up to us.  With the services in webservicex.net we use become unavailable, we're still in the process of getting things updated.  The tests in the soap related modules are now fixed, and the next step for us is to get the docs updated.

One of the services we use is:  http://ws.cdyne.com/emailverify/Emailvernotestemail.asmx (https://github.com/strongloop/loopba

[2018-09-26 06:02] arpentnoir commented on #185
+1
I'm in the same boat

[2018-09-26 10:12] mckaycr commented on #185
I found a second option.  The service I write too accepts files in two methods, one is a MTOM attachment, and the other is to include a files element where each file is encoded in base64 and then placed into an array.  That was a lot easier than hunting down some method for attaching MTOM.

[2018-09-27 07:02] suresh1271 opened #192 "Error: Cannot find module 'delayed-stream' while running the compiled executable"
Hi All, I am using strong-soap to call SOA method. It is working fine but when compiled the app into executable and when I run the exe it is giving me the following error. I dont know what is the issue. Please help me out if anyone knows the solution. (FYI: I am using nexe to make executable.)

[code]

[2018-09-28 04:51] hunghip95 opened #193 "How to modify Client SOAP Context"
# Issue:
My job is build a Loopback app and call SOAP to a Server ( IBM Integration Bus).
I'm facing an issue about validate request message from loopback send to a Server.
The issue is: My request message have an invalid element at SOAP Context is _XmlDeclaration. So that Server denied my message.

# Description:

This is my message send to Server:
[code]

And the error Server send back my Loopba

[2018-09-28 22:32] SomannaDC opened #194 "How to send a provide the SOAP Request for the call"
I have a SOAP XML String which i need to pass to the SOAP call, how do i provide it? There is no help in the documentation.

[2018-10-03 12:44] maccyber commented on #185
Does not seem like MTOM is supported in strong-soap.

ws.js was the only library I could find that supports it, but i had to patch it to work: https://www.npmjs.com/package/ws.js-buffer-fix

It's old and fugly, but seems like the only way to go if you don't want to write it yourself.

[2018-10-04 11:05] sanja224 opened #195 "Wrong types of the elements returned when having one element nested into another of the same type"
Example scenario: I have the following type in the WSDL file.

A {
	property1: decimal,
	property2: decimal
	property3: A
}

I have a method that returns a response of this type, but property1 and property2 on the first level have the correct types (decimals), but on the second level they are returned as strings.

[2018-10-08 09:46] Kankan023 opened #197 "Doesn't show all the details."
Example scenario: I have the following element in the WSDL file.

<element name ="test", type = "string", minOccurs = "0"></element>

The current output just shows the name and type of the element, not the minOccurs or other properties.

[2018-10-14 03:42] dhmlau commented on #170
Closing this issue as PR #171 has landed, and strong-soap@1.13.2 is released.
@vineet-jain, thanks for your contribution! 🎉

[2018-10-14 03:42] #170 closed

[2018-10-18 22:56] RandyWilkinson commented on #187
Xml element order is such a basic requirement for all XSD sequence definitions, I am not sure how anyone else is using this library. Has anyone else encountered this issue?

[2018-11-08 08:08] inane opened #199 "How to implement method without arguments"
Hello friends,

In my api server middleware I am trying to implement a method without arguments,(to get all items of one list) but I am having errors, other implementation with arguments are working fine. Would it be mandatory to add arguments in the request?

Thank you.

[2018-11-09 12:43] #199 closed

[2018-11-12 14:52] inane opened #200 "How to handle multiple WDSL url in a same middleware"
Hi guys,

I woud like what would it be one approach to implement a middleware with different wsdl url and header content.

Any example or implementation within of this awesome module.

Thank you so much.

[2018-11-17 08:01] hardik0207 opened #201 "How to increase ReceivedMessageSize, maxBufferPoolSize, maxBufferSize"
I am working again WSDL, which returns File in bytes. So every time i call that API i always get Null response.
I tried same thing in C# with increase maxReceivedMessageSize, maxBufferSize.. it works.

I am using this current code right now. but it does not  work and getting empty response
[code]

**Response:**
[code]

_Working C# Code with configuration_
[code]

I think the problem is related to

[2018-11-20 17:11] Noderino commented on #160
Do you need help with Typescript conversion?

[2018-11-21 07:46] Noderino commented on #160
I am working on it.

[2018-12-06 14:09] mcordoba commented on #127
Same problem here... it is not very well structured nor documented

[2018-12-13 02:16] adampenn commented on #187
Looking at the `requestArgs` object in `app.js` it looks like `pTablename` actually needs to be `pTableName` like you have defined in `WorkflowManagerService_schema.xsd`.

[2018-12-13 19:57] RandyWilkinson commented on #187
Ah, yes, that fixed it. So I guess additional request arguments not defined in the XSD are allowed and pushed to the end of the request argument. Struggled with this one for a while, thanks.

[2018-12-19 08:52] bhavnagyanchandani opened #202 "Issue with fields with datatype as date - jsonToXml doesn't serialize Date value in YYYY-MM-DD-HH:mm format."
I am working on makingSOAP calls for workday  endpoint using the strong-soap node module.
The date fields in the response of the workday operation has the format as "YYYY-MM-DD-HH:mm".
Sample:
XML body returned from the endpoint in the strong-soap here https://github.com/strongloop/strong-soap/blob/master/src/client.js#L284  utility is as follows:
![image](https://user-images.githubusercontent.com

[2018-12-19 09:12] bhavnagyanchandani commented on #202
Checked more on it and it is causing because of this line - https://github.com/strongloop/strong-soap/blob/master/src/parser/xmlHandler.js#L812.
Here, the value for the date field with value - 2009-03-31-07:00 is  being set as "Invalid Date'.
Please look into this.

[2018-12-20 21:15] chrisgh1 commented on #185
Interested in mtom support also.  Is this on the road map?  Also I'm currently using ws.js but it looks like the project may have been abandoned.  I'm also having an issue with it with large files ie files in the 500MB rang and above. @maccyber I see your link has ws.js-buffer-fix could you elaborate on the "buffer fix"?  I'm wondering if this would resolve my issue with the large files.

[2019-01-12 01:02] andreizq opened #204 "Bad request building, not adding namespace to one field"
# Description/Steps to reproduce
When giving a JSON to the method, all namespaces are correct but one. This doesn't allow this field to be updated in the web service I'm calling.

my code:
 `      updateVersion: function(args, cb, soapHeader){
        var options={disableCache:true};

        var requestArgs = {
          supplierRow : {
            SupplierId:300000001491105,
            Supplier

[2019-01-25 20:00] b-admike commented on #175
See https://github.com/strongloop/strong-soap/pull/182 and https://github.com/strongloop/strong-soap/tree/xml-serialize for example and bug fix related to this issue.

[2019-01-25 20:00] #175 closed

[2019-02-07 20:08] TheInvoker opened #205 "How to send a SOAP1.2 request?"
I am using this library

https://github.com/strongloop/strong-soap#client

to send a SOAP1.2 request.

Using [SOAPUI][1] I can send this (I omitted the api key here)

    <soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:v1="urn:IQTrack/WebServices/v1">
       <soap:Header xmlns:wsa="http://www.w3.org/2005/08/addressing">
           <wsa:To>https://webservices.iqtrack.com/R

[2019-02-11 01:36] romeupalos opened #206 "Library is removing whitespaces from the original XML message"
# Description/Steps to reproduce

1. Use as an input, a xml with trailing spaces in the text data.
1. The results will not honor the XML content. (by definition, everything between the start-tag and end-tag in an XML. https://www.w3.org/TR/REC-xml/#dt-content)
[code]
# Expected result
[code]
# Actual result

[code]

# Additional information

linux x64 7.3.0

[2019-02-11 01:37] romeupalos commented on #206
I'll submit a PR to fix this issue soon.

[2019-02-13 08:56] AjayPoshak opened #207 "Add support for Node 10"
Not working on Node 10
# Description/Steps to reproduce

# Link to reproduction sandbox
 Please run `npm install` on Node version `10.15.1` to reproduce the bug.

# Additional information
Error details
[code]

node -e 'console.log(process.platform, process.arch, process.versions.node)'
Output:
`darwin x64 10.15.1`

[2019-02-13 16:08] raymondfeng commented on #207
@AjayPoshak We're waiting for https://github.com/JoshKaufman/ursa to publish a new version to support Node 10.x.

BTW, `ursa` is an optional dependency and failure to install it can be ignored for most applications.

[2019-02-14 17:35] AjayPoshak commented on #207
Cool, then I'll go ahead and use it on Node 10.

[2019-02-14 17:35] #207 closed

[2019-02-26 15:51] Axel-CH commented on #180
Hi @alexcorre , I have the same issue, did you found a workaround?

[2019-03-03 19:15] rustam013 opened #211 "hello please help, "can't read property $name of undefined" in generator-soap.js , loopback version 3"
it's showing error in this file :generator-soap.js
[code]

[2019-03-05 00:48] #211 closed

[2019-04-06 01:25] neerajhiretual commented on #200
Did you figured it out? I also have the same scenario?

[2019-04-15 05:16] mohanasundarR commented on #109
@raymondfeng is this issue fixed??

[2019-04-17 15:33] fuzunspm opened #214 "TypeError: nodeVersion is undefined"
# Description/Steps to reproduce
I can't use it on ReactJS application with the error output below..

[code]
# Additional information
darwin x64 11.14.0
npm ERR! peer dep missing: preact@*, required by unistore@3.2.1

[2019-04-17 15:55] raymondfeng commented on #214
The module is for Node.js. To make it browser compatible, a few things need to happen:

- Make refs to Node optional
- Make it possible to plug in an http client library compatible with browsers

[2019-04-18 08:23] #214 closed

[2019-04-28 00:04] reajuria opened #215 "Error: Cannot find module './src/security/index' - using require('strong-soap') on zeit/pkg builded executable"
# Description/Steps to reproduce
Building a packaged executable with [zeit/pkg](https://github.com/zeit/pkg) generates an exception

[code]
Watch the exception:

    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:592:15)
    at Function.Module._resolveFilename (pkg/prelude/bootstrap.js:1280:46)
    at Function.Module._load (internal/modules/cjs/loader.js:518:25)
    at Module.

[2019-04-30 16:44] JanzenPacker opened #217 "DeprecationWarning: Buffer()"
The use of `new Buffer()` is deprecated in NodeJS. (https://nodejs.org/en/docs/guides/buffer-constructor-deprecation/)

Suggested change in [https://github.com/strongloop/strong-soap/blob/master/src/strip-bom.js](url)

Current:
`var chunk = new Buffer(str);`

Request Change To:
`var chunk = Buffer.from(str);`

[2019-04-30 16:57] raymondfeng commented on #217
@JanzenPacker Would you like to submit a PR?

[2019-04-30 17:14] raymondfeng commented on #217
Fixed by https://github.com/strongloop/strong-soap/commit/f8c559618251c39035b0c1c93d8e4b63c518ca8c

[2019-04-30 17:14] #217 closed

[2019-05-07 15:12] milesje commented on #185
I'm also interested in MTOM support for both sending and receiving!

[2019-05-07 15:19] raymondfeng commented on #185
Unfortunately we don't hand bandwidth to implement MTOM support, but contributions are welcome!

[2019-05-07 19:22] smarotta opened #218 "You should probably support 1,0,'1' or '0' as boolean values"
https://github.com/strongloop/strong-soap/blob/74a83816caec1dea4eaaa539d9a3ce0626c1313a/src/parser/xmlHandler.js#L846

[2019-05-07 21:52] smarotta commented on #218
more info on: http://www.datypic.com/sc/xsd/t-xsd_boolean.html

[2019-05-07 21:57] raymondfeng commented on #218
@smarotta Would you like to submit a patch? I can help review and land it.

[2019-05-08 21:21] smarotta commented on #218
Sure @raymondfeng

[2019-05-21 15:26] muhammaddadu commented on #160
@Noderino Any updates on this?

[2019-05-22 07:05] Noderino commented on #160
I couldn't find enough time to work on this for a few months (10-12 hours at work) but i am hoping to send PRs for completed parts in june.

[2019-05-29 08:37] monu778 opened #221 "404"
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2019-05-29 08:38] monu778 opened #222 "Getting Status 404 error for given wsdl"
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2019-05-29 08:39] monu778 commented on #222
<!doctype html><html lang="en"><head><title>HTTP Status 404 – Not Found</title><style type="text/css">h1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;} h2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;} h3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;} body {font-famil

[2019-05-29 10:13] monu778 commented on #222
The same wsdl is working with easy-soap module. I liked this module mainly for proper parsing of soap repsonse

[2019-05-29 19:37] dhmlau commented on #221
@monu778, are you encountering problems in this module?  Could you please elaborate on your question/problem? Thanks.

[2019-05-29 19:39] dhmlau commented on #221
Looks like you've submitted another issue https://github.com/strongloop/strong-soap/issues/222.  Closing this in favor of https://github.com/strongloop/strong-soap/issues/222. Thanks.

[2019-05-29 19:39] #221 closed

[2019-05-29 19:46] dhmlau commented on #222
@raymondfeng , I'm not sure what's the use case here (or we have enough information), but I'm not familiar with this module either.  Could you please take a look? Thanks.

[2019-05-29 21:34] raymondfeng commented on #222
What's the url for your wsdl? Can you access it from inside the browser?

[2019-05-30 07:27] adi-gabrielli commented on #185
Node-soap has a support for sending MTOM requests via this: https://github.com/vpulim/node-soap/pull/1054
On the server side there is no implementation so I had to write some middleware to handle the request. Something along these lines ( i have a gzipped file attachment here which I temporarily save to some folder and I edit the SOAP xml to hold the path to the temp file ... bullshit standard):
[

[2019-05-30 07:57] adi-gabrielli opened #223 "Modifying the response body before it gets sent"
# Description/Steps to reproduce
I have to send a MTOM response back to the client. So on the client side, the response is not a valid  SOAP xml but one on the parts of the response will be. As far as I can tell, the only way to do this is to write a middleware to change the output.

[code]
This seems to do the trick for some test requests. In case of big requests _res.write_ will receive chuncked

[2019-06-03 20:00] milesje opened #225 "Fault thrown when using WSSecurityCert"
# Description/Steps to reproduce
Making a Client call works until WSSecurityCert is added.

[code]

# Expected result
I would expect the call to work the same both without and with the WSSecurityCert set.

[code]

[2019-06-04 04:04] milesje commented on #194
The only way I found to do this was to use the XMLHandler to transform it to JSON and then pass that into the client call.

[code]

[2019-06-04 04:42] milesje opened #226 "Issues when WSDL imports other WSDL(s)"
I have a service that I'm attempting to write client for, but the WSDL doesn't have much in it other than to "import" another WSDL. But the created client doesn't work as expected.

Contents of the WSDL
[code]
WSDL URL: https://cmsstage.efiletexas.gov/EFM/Schema/ECF-4.0-FilingReviewMDEService.wsdl

[code]

Here is the SOAP XML that was created.
[code]
I assumed that it would have created the <Noti

[2019-06-04 04:54] milesje commented on #225
I'm closing this as I think it might be an issue with having the servers security configured incorrectly.

[2019-06-04 04:54] #225 closed

[2019-06-04 14:20] milesje opened #227 "Module {{ursa}} must be installed"
I'm getting this error when I run, but I do have uRSA installed.
[code]
[code]

[2019-06-04 14:46] milesje commented on #227
If I modify node_modes/strong-soap/src/security/WSSecurityCert.js and change the optional('strong-ursa') to optional('ursa') it works as expected.

[2019-06-04 15:25] raymondfeng commented on #227
Please try latest version of `strong-soap`. The dependency of `strong-ursa` or `ursa` is removed.

[2019-06-04 15:54] milesje commented on #227
Awesome that works... I had to tweak the code a little as I was getting a error about Passphrase not being supported, but that was an easy change.

[2019-06-04 15:54] #227 closed

[2019-06-04 16:04] milesje opened #228 "result is undefined"
When making a client method call the result from the call is undefined even though the envelope has data in it.

[code]
Results
[code]
If the envelope contains a valid XML response data I would have expected the result object to have been populated with the xml-to-json data equal to that of the envelope.

[2019-06-04 21:49] milesje opened #229 "Question: Server Security"
I see the example of using WSSecurityCert to connect to a Server that is using x.509 certs for security. So how do you create a server that uses the x.509 certs?
The only server side security I see is using server.authenticate and server.authorizeConnection.

[2019-06-05 19:15] raymondfeng commented on #226
You'll have to provide the json as:
[code]

[2019-06-05 19:19] raymondfeng commented on #229
Please note that the server side support is experimental. You should try to use other stacks such as JAX-WS to create soap servers.

[2019-06-05 19:32] milesje commented on #226
when creating a client for other services it automatically adds the NotifyCaseAssignmentComplete tag.

[2019-06-05 20:02] raymondfeng commented on #226
Maybe the WSDLs have different encoding/styles:

document-literal
document-literal wrapped
rpc encoded
rpc literal

[2019-06-06 13:10] puzits opened #230 "soap envelop not properly formed"
Hi,

I am using loopback4 soap connector. I have following soap header set and this is my soap request object.  The soap envelop created has [object Object] with in it and header is not properly formed.

**datasource containing following soap header :**
 "soapHeaders": [
    {
      "element": {
        "OGHeader": {
          "transactionID": "00000000-0000-0000-0000-000000000000",
          "pri

[2019-06-10 16:16] monu778 opened #231 "How can I send soap header to the request"
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2019-06-10 16:20] monu778 commented on #231
<soapenv:Header>
      <ccap:StartHeader>
         <ccap:conversationId>asraab-1244-56667</ccap:conversationId>

      </ccap:StartHeader>
   </soapenv:Header>

I want this is as soap header . How to use this with addsoapheader function

[2019-06-15 10:36] bhavnagyanchandani opened #232 "Facing issue while using this node module with Workday"
We are trying to use **_strong-soap_** node module to invoke web services offered by Workday.
The WSDL for the same is available here - https://community.workday.com/sites/default/files/file-hosting/productionapi/Human_Resources/v32.1/Human_Resources.wsdl
With the initial debugging, it seems like it is unable to fetch the child elements for an operation named **"Get_Workers"** whereas it is able t

[2019-06-17 19:40] dhmlau commented on #218
The PR #219 has merged. Closing this issue as done. @smarotta, thanks again for your contribution. 🎉

[2019-06-17 19:40] #218 closed

[2019-06-18 15:23] dhmlau commented on #229
Closing this issue as answered. Thanks.

[2019-06-18 15:23] #229 closed

[2019-06-21 12:36] maxwellb commented on #160
I'll jump in if I can also, let me know

[2019-06-26 02:49] dhmlau commented on #178
@b-admike, do we still need this? Thanks.

[2019-06-26 02:49] dhmlau commented on #174
@b-admike, do we still need this? Thanks.

[2019-06-28 11:54] bonnlei opened #233 "WSSecurityCert error"
I use
 const wsSecurity = new soap.WSSecurityCert(privateKey, publicKey, password, 'utf8')
 client.setSecurity(wsSecurity)

That gets a xml request with "<wsse:SecurityTokenReference xmlns:wsse="">", it causes "
<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><soap:Fault><faultcode>soap:Client</faultcode><faultstring>Error reading XMLStreamReader: Non-default names

[2019-07-01 19:42] mihir83in commented on #223
+1

[2019-07-06 07:32] mihir83in opened #234 "strong-soap server produces ns1 prefix for anonymous complex types"
Given a sample xsd,
[code]
strong-soap server generates something like
[code]
while it should be generated as
[code]
That is without `ns1` prefix, or at least the prefix should be allowed to be removed by config.
I've tried looking into wsdl_options, nsContext and xmlHandler but can't figure this out

Help really appreciated, @rashmihunt

[2019-07-06 10:51] mihir83in opened #235 "soap server fault not thrown when malformed xml request is received"
When a malformed xml is received, the error is thrown and captured in server.js
[code]
but this can't be translated to a soap fault.

Is there a way to handle this or can there be a pluggable global error handler in which errors can be converted to soap faults ?
@rashmihunt

[2019-07-07 12:46] bonnlei commented on #234
I have same problem by v 1.20.0

[2019-07-08 09:11] darbyo commented on #234
Same problem for me!

[2019-07-10 12:03] vganesh opened #236 "strong soap is NOT able to create xml element (DOM node) with a child text node."
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2019-07-10 12:13] vganesh commented on #236
Please see

https://stackoverflow.com/questions/56962363/how-to-specify-xmlvalue-correctly-in-json-object-with-loopback-library

for problem definition.

**Intent**:

Create xml fragment like this where a DOM node (XML element) has a text node (with a value of 12345 in this example) as a child.

[<ns2:tcrmParam name="PartyId">12345</ns2:tcrmParam>
](url)

In JSON an object is a map and must have a

[2019-07-10 12:36] vganesh commented on #236
Just an FYI: See how the popular Java library fastxml Jackson library process @XmlValue tag, Java code fragment follows which explains how @XmlValue is processed by ObjectMapper.

**From InquiryParam.java**

[code]

**From TcrmParam.java**

[code]

From main program test driver.

[code]

The output produced by the popular fasterxml Jackson Java library is shown below:

`<?xml version="1.0" encodin

[2019-07-10 17:26] vganesh commented on #236
After reading strong soap docs, I noticed I can make use of **$attributes** and **$value**, as shown below:

[code]
With the above code change, I was able to verify the following soap request was getting generated and the soap request completed successfully.

[code]
Thx,

[2019-07-10 17:26] #236 closed

[2019-07-16 13:54] b-admike commented on #174
@dhmlau I don't think so, but can be revisited on future requests.

[2019-07-16 13:54] #174 closed

[2019-07-16 13:57] b-admike commented on #178
@dhmlau I believe this functionality already exists. cc @raymondfeng. Feel free to re-open if not.

[2019-07-16 13:57] #178 closed

[2019-07-16 15:48] allanmayanei1 commented on #185
I made this contribution on the fork: [add attachments](https://github.com/allanmayanei1/strong-soap) how to pull requests

[2019-07-17 15:10] bohdan-zahaiskyi commented on #234
I have a same problem too! All namespaces from my wsdl in `NamespaceContext.namespaces` have `declared: false`. When `XMLHandler.jsonToXml()` is invoked, `if (mapping === null || mapping.declared === false)` check passes and NamespaceContext declares new namespace with generated prefix which is `ns1`. And because of that my soap request header and body contains wrong prefix.

[2019-07-25 14:21] RemonVanNieuwenhuizen opened #238 "Method argument as XML string"
I want to input a XML string as the argument for a method since this is not valid XML:
`const xmlStr = { $xml: "<relatie></relatie><email></email><pass></pass><importData><![CDATA[<?xml version='1.0'><CASH><R3600><F3600>30053942</F3600><F4102>011</F4102></R3600></CASH>]]></importData><administration><tns:admCode>Bboy</tns:admCode></administration><formaat>0</formaat>" }`

How can I do that? I trie

[2019-07-29 11:59] fuzunspm opened #239 "Can't get it work"
# Description/Steps to reproduce

It throws error of
```[0] TypeError: Cannot read property 'Login' of undefined```

It's working with JS but can't get it work on a typescript project

# Code

[code]

darwin x64 10.15.3

[2019-08-06 23:45] E-factor commented on #239
@fuzunspm  did you solve this?  i'm having the same issue (soap.createClient is returning nothing hence my operation is undefined)

[2019-08-07 04:19] fuzunspm commented on #239
@E-factor I fixed my issue by converting it to arrow function like this

`method(loginArgs, (err, result, envelope, soapHeader) => {`

Sorry I’m on mobile but that way it worked.

[2019-08-07 04:21] #239 closed

[2019-08-10 22:43] mihir83in commented on #234
+1

[2019-09-15 15:40] cherzog opened #241 "node is recognized as simple type, if attribute is missing"
# Description/Steps to reproduce
A node in the request is recognized as a simple type, if an (optional) attribute is missing.

Have a look at: https://github.com/cherzog/strong-soap-test

# Current result

{ value: '200' }

# Expected result

{ value: { attributes: {  }, Value: '200' } }

[2019-09-17 15:21] cherzog commented on #241
Maybe someone can tell me if this behavior is wanted or if it can be changed. I would take a look at it if necessary.

[2019-09-17 16:37] raymondfeng commented on #241
Interesting. I would expect the result to be consistent. How does the xml schema for `value` look like?

[2019-09-17 16:46] cherzog commented on #241
[code]

https://github.com/cherzog/strong-soap-test/blob/master/TestWSDL.xml

[2019-09-17 16:57] raymondfeng commented on #241
Thanks. `TextType` is a complex type with a string value.

[2019-09-17 17:00] cherzog commented on #241
Yes. And possibly an attribute.

[2019-09-17 17:00] raymondfeng commented on #241
Would you please debug the issue to see what's wrong?

[2019-09-17 17:08] cherzog commented on #241
The problem is here:
https://github.com/strongloop/strong-soap/blob/a51322e6a3911903d2c84d1d47d1fc7baf001ee5/src/parser/xmlHandler.js#L526

[code]
top.object is still undefined, because there is no attribute.

[2019-09-17 17:21] raymondfeng commented on #241
@cherzog Good catch. Would you like to submit a patch?

[2019-09-17 17:24] cherzog commented on #241
I want to try. At the moment I don't know how to find out that this is a ComplexType. I will probably have to evaluate the scheme...

[2019-09-17 20:15] cherzog commented on #241
Is there already a function to get the type of the node?

I think the best place to implement is here:
https://github.com/strongloop/strong-soap/blob/a51322e6a3911903d2c84d1d47d1fc7baf001ee5/src/parser/xmlHandler.js#L610

Something like:
[code]
If I manually set the value of _isComplexType_ to true, it already works as expected:
[code]

Thanks for help.

[2019-09-17 20:19] raymondfeng commented on #241
You should be able to check the [descriptor](https://github.com/strongloop/strong-soap/blob/a51322e6a3911903d2c84d1d47d1fc7baf001ee5/src/parser/xmlHandler.js#L554).

[2019-09-17 20:24] cherzog commented on #241
Mmh, it's undefined.... 🤔

[2019-09-17 20:28] cherzog commented on #241
https://github.com/strongloop/strong-soap/blob/a51322e6a3911903d2c84d1d47d1fc7baf001ee5/src/server.js#L137

[2019-09-17 20:31] raymondfeng commented on #241
`server.js` is for the mock-up soap server only. If you run into the issue as a client for soap web services, you don't have to worry about that.

[2019-09-17 20:37] cherzog commented on #241
"mock-up"? I want to use the server side. And it works (with the described exception).

[2019-09-17 20:52] cherzog commented on #241
What are the reasons for not using the server productively?

Btw.: I really overread the "mock-up" in the README.md. ;-)

[2019-09-24 05:29] heumn opened #244 "Formatting a request with colliding namespace"
First of, thanks for an awesome module.

Apologies if this is not the correct forum to ask. I tried reading the documentation and I have tried a variety of settings (overriding key, values and attributes) to create this request json.

What I am trying to achieve is to go from this (that works):

[code]

and produces the following output:

[code]

To this (more than one instrument in the instrument

[2019-10-24 06:45] #131 closed

[2019-10-24 21:07] michaelbrawn opened #247 "What are the advantages of strong-soap over node-soap"
# Additional information

Your readme mentions that this library is a complete rewrite of node-soap, but it doesn't give any information about why this was done.

What are the advantages of strong-soap over node-soap?

[2019-10-24 21:23] raymondfeng commented on #247
`strong-soap` fully leverages the WSDL/XSD information to control JSON/XML mapping respecting namespaces. The test coverage is much improved too.

[2019-11-07 07:04] #89 closed

[2019-11-07 07:04] #77 closed

[2019-11-07 07:04] #51 closed

[2019-11-07 07:04] #93 closed

[2019-11-07 07:04] #62 closed

[2019-11-07 07:04] #90 closed

[2019-11-07 07:04] #97 closed

[2019-11-07 07:04] #53 closed

[2019-11-07 07:04] #100 closed

[2019-11-07 07:04] #102 closed

[2019-11-07 07:04] #104 closed

[2019-11-07 07:04] #105 closed

[2019-11-07 07:04] #108 closed

[2019-11-07 07:04] #113 closed

[2019-11-07 07:04] #114 closed

[2019-11-07 07:04] #120 closed

[2019-11-07 07:04] #125 closed

[2019-11-07 07:04] #126 closed

[2019-11-07 07:04] #123 closed

[2019-11-07 07:04] #129 closed

[2019-11-07 07:04] #136 closed

[2019-11-07 07:04] #59 closed

[2019-11-07 07:04] #140 closed

[2019-11-07 07:04] #143 closed

[2019-11-07 07:04] #146 closed

[2019-11-07 07:04] #148 closed

[2019-11-07 07:04] #112 closed

[2019-11-07 08:04] #156 closed

[2019-11-07 08:04] #159 closed

[2019-11-07 08:04] #128 closed

[2019-11-07 08:04] #122 closed

[2019-11-07 08:04] #163 closed

[2019-11-07 08:04] #152 closed

[2019-11-07 08:04] #177 closed

[2019-11-07 08:04] #181 closed

[2019-11-07 08:04] #158 closed

[2019-11-07 08:04] #161 closed

[2019-11-07 08:04] #184 closed

[2019-11-07 08:04] #191 closed

[2019-11-07 08:04] #193 closed

[2019-11-07 08:04] #195 closed

[2019-11-07 08:04] #165 closed

[2019-11-07 08:04] #197 closed

[2019-11-07 08:04] #201 closed

[2019-11-07 08:04] #49 closed

[2019-11-07 08:04] #127 closed

[2019-11-07 08:04] #187 closed

[2019-11-07 08:04] #117 closed

[2019-11-07 08:04] #202 closed

[2019-11-07 08:04] #204 closed

[2019-11-07 08:04] #205 closed

[2019-11-07 08:04] #206 closed

[2019-11-07 08:04] #200 closed

[2019-11-07 08:04] #109 closed

[2019-11-07 08:04] #215 closed

[2019-11-07 08:04] #194 closed

[2019-11-07 08:04] #228 closed

[2019-11-07 09:04] #222 closed

[2019-11-07 09:04] #230 closed

[2019-11-07 09:04] #226 closed

[2019-11-07 09:04] #231 closed

[2019-11-07 09:04] #232 closed

[2019-11-07 09:04] #233 closed

[2019-11-07 09:04] #223 closed

[2019-11-07 09:04] #235 closed

[2019-11-07 09:04] #185 closed

[2019-11-07 09:04] #238 closed

[2019-11-07 09:04] #234 closed

[2019-11-07 15:26] kaaljabr commented on #105
@castleofbones did you solve this issue? I am running into exactly the same issue with Experian and createClient function.

[2019-11-19 10:46] thw0rted commented on #214
Did this get closed because there are no plans to support this library in a browser environment?

(If so, can anybody suggest a browser-compatible alternative library?)

[2019-11-19 15:50] cymen commented on #93
@fabiooshiro Did you find something that supports WS-ReliableMessaging? I'm looking too...

[2019-12-01 01:58] #241 closed

[2019-12-17 07:35] pink-raks commented on #247
In _strong-soap_ all xsds are referenced in the wsdl files are present in the WSDL_Cache. By this I can process all operations.
But _node-soap_ does not support this. The WSDL_Cache only has the _first xsd_ which is a limitation.
It took us a day to figure out this problem and *strong-soap* was our savior.

[2019-12-23 11:15] nazimkh opened #251 "client.describe() not returning information related to minOccurs and documentation"
Hello,
I am using this node module to create a WSDL parser, and found out that there is a need to support following two missing information in the ``describe()`` method.

1. Whether an element is required or not by considering the minOccurs attribute. (Some what identical to isMany property of element which is present)
2. The ``describe()`` method should give the documentation information of the e

[2020-01-07 14:20] MisterMX commented on #109
The reason for this issue with webpack is because there are dynamic imports at [src/parser/typeRegistry.js](https://github.com/strongloop/strong-soap/blob/master/src/parser/typeRegistry.js):
[code]

[2020-01-13 10:34] HosseinRashno opened #253 "TypeError: Cannot use 'in' operator to search for 'A' in svcutil.exe"
I'm trying to send a request to a WSDL API from a node.js server on an Ubuntu OS. I'm using `node-soap` like this:

[code]

I got this console error after the function call (`console.log('Function err: ', err2)`):

[code]

When I use [Wizdler](https://chrome.google.com/webstore/detail/wizdler/oebpmncolmhiapingjaagmapififiakb?hl=en-GB&utm_source=chrome-ntp-launcher) plugin to see the acceptable str

[2020-01-13 16:11] raymondfeng commented on #251
@nazimkh Are you willing to contribute a patch?

[2020-01-13 16:38] raymondfeng commented on #253
@HosseinRashno Your code seems to be using `soap` instead of `strong-soap` module.
[code]

[2020-01-14 02:49] HosseinRashno commented on #253
Oops! That is a mistake. I use `strong-soap`, but for test purposes, I changed it to `soap`.

[2020-01-14 05:43] HosseinRashno commented on #253
Finally, I find the solution. You need to set end-point for the client:  https://stackoverflow.com/questions/59712303/soap-request-typeerror-cannot-use-in-operator-to-search-for-a-in-svcutil-e/59728087#59728087

[2020-01-14 05:43] #253 closed

[2020-01-18 04:29] gugahoi commented on #112
I am looking for how to achieve this as well. For some reason the library is extracting the namespace despite me giving it in the arguments:

[code]

However this is what gets sent in the request:
[code]

[2020-01-19 23:09] zygimantus opened #254 "Possibility to send XML string directly instead of JSON requestArgs"
This is a duplicate of #238 , but still, it was unanswered.

Is it possible to send XML string directly instead of JSON requestArgs? Because in particular cases white-spaces and new lines are distorted using JSON requestArgs parameter and thus signed XML cannot be send using stong-soap.

[2020-01-21 20:06] dhmlau commented on #247
Closing this issue as answered.

[2020-01-21 20:06] #247 closed

[2020-01-22 10:53] Swagnus opened #255 "Fault occurred while processing"
Hello.

I'm trying to use this node module as a client to consume functions from a SOAP API.
But no matter what i'm trying i'm getting the faultstring "Fault occurred while processing".
I believe this occurs because the request body seems to be empty. Shouldn't that be fetched from the WSDL by the module?

When i run the exact same thing through SoapUI it works as expected.

This API is unfortunat

[2020-01-23 10:35] haegemonia76 opened #256 "xmlHandler.jsonToXml() doesn't parse json correctly"
# Description/Steps to reproduce

I have an object(1) who contain an array of objects(2) and i wanted them to be inside of unique xml property when being generated, because it cause problem when sending information through the soap method because the payload isn't correct, you can see actual result and expected result a little bit lower.

run the test project

# Link to reproduction sandbox

[![Ed

[2020-01-28 19:03] andrejpoliveira commented on #228
I am facing the same problem, any thoughts ?

[2020-02-03 15:04] agnes512 commented on #254
@raymondfeng could you take a look of the issue? thanks!

[2020-02-07 16:17] IvoFritsch opened #257 "<sequence> order not being respected."
When strong-soap generates the XML, it doesn't respect **sequence**'s orders, instead it is using the order of the keys in the object passed to it, this is causing validation errors in the API i'm implementing, there's some way to make it respect the order?

[2020-02-07 21:58] binx01 opened #258 "Undefined result property in JSON format using SOAP web service"
According to the soap tutorial https://loopback.io/doc/en/lb4/soap-calculator-tutorial-run-and-test.html I have the issue with undefined response result in json format when using LB with our soap server.

Here is the soap server project https://github.com/binx01/soap-server-express-test/blob/master/index.ts for testing purposes simulating our original soap server (SOAP 1.1/RPC) Login response. Wsd

[2020-02-12 22:54] dorcilio opened #259 "Invalid protocol [ERR_INVALID_PROTOCOL]"
I am developing a service to make a SOAP request, but I am facing an error.

# Error

    at new ClientRequest (_http_client.js:119:11)
    at Object.request (http.js:42:10)

# Additional information
I don't know if the WebService changes from HTTPS to HTTP, but I needed this solution, in Java it works.

sorry for bad english...

# Description/Steps to reproduce
[code]

[2020-02-20 04:27] imgx64 opened #262 "`request` module is deprecated"
# Description/Steps to reproduce

The [`request`](https://www.npmjs.com/package/request) module README says:

# Link to reproduction sandbox
[code]

# Expected result
`request` should be replaced with a different http client library.

[2020-02-20 08:11] smile4me1974 commented on #225
can yu wrap this up in my terms

[2020-02-20 16:55] rsunbury opened #263 "Cannot send a nil date element."
# Description/Steps to reproduce
I am trying to send a null date to a nillable date field.  The problem that I am having, is that the check in xmlHandler.js to see if the field is nillable and if the value is null comes after calls where the value is converted to a date, and a null date ends up being 01-01-1970 so by the time it gets to the val check val is no longer null.

I tried to add the nil

[2020-02-20 17:26] dhmlau commented on #262
We switched to use `axios` in some of the modules in `loopback-next`.  @raymondfeng, do you think it would be a good choice for this module too? Thanks.

[2020-02-20 18:33] raymondfeng commented on #263
@rsunbury In your WSDL/XSD, is `DateofBirth` element `nullable`?

[2020-02-20 18:35] raymondfeng commented on #263
See https://github.com/strongloop/strong-soap/blob/master/test/nillable-test.js

[2020-02-20 18:42] raymondfeng commented on #259
Can you try to set `key` and `cert` in `wsdl_options`?

[2020-02-20 18:54] rsunbury commented on #263
Yes it is,
<xsd:element maxOccurs="1" minOccurs="0" name="DateofBirth" nillable="true" type="xsd:date"/>

On the system that I am working with, pretty much all the dates are nullable.

[2020-02-20 21:28] rsunbury commented on #263
I was playing around with this a bit, and came up with a piece of hack code that seems to fix this:

    if (descriptor instanceof ElementDescriptor) {
      name = descriptor.qname.name;
      let isSimple = descriptor.isSimple;
      if (isSimple && val === null && ['date', 'time', 'dateType'].indexOf(descriptor.type.name) > -1) descriptor.type.name = 'string';   //fix line

[2020-02-20 23:44] LiamKarlMitchell commented on #158
For me something like this worked.

[code]
Ended up giving the server what it expected of an ArrayOfString.

Magento 1 catalogProductAttributeMediaCreate types array.

[2020-02-21 16:00] Diogoceiia opened #264 "Socket hang up error"
I already tried everything and the error is always the same:

Error: socket hang up
    at connResetException (internal/errors.js:570:14)
    at Socket.socketOnEnd (_http_client.js:440:23)
    at Socket.emit (events.js:228:7)
    at endReadableNT (_stream_readable.js:1185:12)
    at processTicksAndRejections (internal/process/task_queues.js:81:21) {
  code: 'ECONNRESET'
}

I'm consuming WSDL servi

[2020-02-25 18:27] deepakrkris commented on #264
@Diogoceiia , can you please elaborate more on when the error is occurring?
Is it when connecting to the soap datasource ?
Please upload the soap datasources configuration and also a sample of the wsdl and the connection code.

[2020-02-25 18:42] Diogoceiia commented on #264
Hi @deepakrkris
First of all, thank you for your answer.
I already found the problem.
To found the problem, I used the fiddler as proxy and I was able to compare the requests between soap UI.
The problem was using incorrect soap headers.
BTW, I noticed that request package was deprecated and you are using it. You will replace it? Or will keep it?

Regards,
Diogo Carvalho

[2020-02-25 22:58] dhmlau commented on #263
Closing as done as PR #265 has landed.
@rsunbury, thanks again for your contribution.

[2020-02-25 22:58] #263 closed

[2020-02-26 16:40] deepakrkris commented on #264
if it is deprecated, we will soon replace it.

[2020-02-26 16:40] #264 closed

[2020-02-27 07:40] deepakrkris commented on #257
@IvoFritsch can you please upload a code sample with the sequence elements ?

[2020-02-28 20:22] deepakrkris commented on #256
@haegemonia76 there is a change needed in your json template for a correct sequence to be generated. `demandeCreerArticles` cannot be an array since the intend is to have a sequence of articles.

Updated template:

[code]

[2020-02-28 20:35] deepakrkris commented on #256
The generated json should be something like

[code]

[2020-02-28 20:36] deepakrkris commented on #256
with an updated template I am able to run and get the expected xml output

[2020-02-28 21:32] deepakrkris commented on #255
@Swagnus can you try passing a header object to getServiceCatalogueList, strong-soap does not default header values like soap-ui.

Please take a look at [https://github.com/strongloop/strong-soap/blob/a2775deaa4e5e2d8c707cc7939861a778dfebf33/test/client-test.js#L317](url)

[2020-02-28 21:59] deepakrkris commented on #251
@nazimkh are you referring to the `<xsd:documentation/>` tag (https://www.w3schools.com/xml/el_documentation.asp) ?

[2020-02-28 22:13] raymondfeng commented on #251
@deepakrkris I think it's `<xs:annotation>`, which can contain `<xs:documentation>`. @nazimkh also asked for `minOccurs` attribute.

[2020-02-28 23:21] deepakrkris commented on #251
@nazimkh is the ask for `minoccurs` in this issue from a documentation stand point ? or is there a validation missing in source code for minoccurs ?

[2020-02-29 22:14] haegemonia76 commented on #256
@deepakrkris thanks, I see where I made a mistake thanks to you

[2020-02-29 22:14] #256 closed

[2020-03-02 17:11] jonrober-80 opened #267 "Default xmlns value not picked up"
# Description/Steps to reproduce
Using strong-soap to parse a wsdl schema which sets the default xsd namespace `xmlns="http://www.w3.org/2001/XMLSchema"`, the type of an element is interpreted differently depending if the prefix `xsd:` is present before the type value. In the following schema:
[code]
I would expect that `xsd:string` and `string` should both result in the simple type of `string`, a

[2020-03-03 03:18] deepakrkris commented on #267
@jonrober-80 I am able to recreate the error with your tests, thanks. marking this as a bug.

[2020-03-03 07:04] deepakrkris commented on #258
@binx01 , there were some errors in your wsdl. I corrected them and the sample seems to work fine now.

Updated wsdl:
[code]

[2020-03-03 07:07] deepakrkris commented on #258
@binx01 answers your questions:

**1. Can you please help me to find out if given server response based on provided wsdl is right?**
Corrected the wsdl file as in the previous comment and sample works fine now.

**2. Soap envelope can return complex xml structures too, not just simple result value, is it intended to translate these structures to json object also or is it client responsibility to p

[2020-03-03 15:06] deepakrkris commented on #255
@Swagnus were you able to modify the client and test this again ?

[2020-03-03 18:47] Swagnus commented on #255
@deepakrkris Thank you for your reply!
I was able to add the headers i need to the request with the help of your link, thanks.

Now the problem is the body. As you can see in the example request from SoapUI `<v1:ServiceCatalogueListRequest/>` has been added automatically.
Can this also be achieved automatically in strong-soap or do i have to add it manually?

[2020-03-04 07:25] LoneRifle opened #268 "Proposal: always return an array for response element where maxOccurs > 1"
Currently, strong-soap inherits node-soap's behaviour of returning the following for a given element defined as:
[code]
this behaviour returns such an element as an object if it occurs once, or an array of objects if more than once. This complicates the handling of the response, as we now have to determine whether the element being returned is a single object or an array of objects.

Given the def

[2020-03-04 10:31] nazimkh commented on #251
@deepakrkris the `minoccurs` attribute will enable us to infer if the element in context is `required`  or not, for example if `minoccurs` value is `> 0` then we can say its `required`.

[2020-03-04 10:41] Swagnus commented on #255
Also i noticed that the `createClient` takes quite a while to execute, over 4 seconds. While the getServiceCatalogueList request takes about 200ms.
SoapUI executes the request in about 400ms.

What can be the cause of this?

[2020-03-05 13:55] serkanz opened #270 "Client doesn't add namespace prefix to objects inside SOAP Body"
# Description/Steps to reproduce
I create a SOAP client with createClient method. When I call a method of client with arguments it should create an SOAP Envelope below:

`<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns="http://www.yok.gov.tr/yuksekogretimegitimbilgisi/2019/10">`
`   <soapenv:Header/>`
`   <soapenv:Body>`
`      <ns:EgitimBilgisiOgrenciRequest>`

[2020-03-05 20:32] deepakrkris commented on #270
@serkanz please share the wsdl and the soap client snippet you use.

[2020-03-06 07:39] serkanz commented on #270
Hi @deepakrkris,

I attached the code snippet that I used to create the client.

[code]

This Code creates the SOAP envelope below, it lacks the methos name (ns:EgitimBilgisiOgrenciRequest) and prefixes (ns:) :

[code]
Correct SOAP envelope should be below:
[code]
WSDL I used to create is below :

[code]

[2020-03-09 11:05] binx01 commented on #258
@deepakrkris:
1. Solved, created own wsdl file according to your recommendation and provided it as local wsdl to datasource config and it works with original server too. Thank you!

2. Example of complex response copied from LB explorer without envelope part:

`{
  "result": {
    "SVMTEchoResult": {
      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>\r\n<SVMTEchoResult>\r

[2020-03-11 17:42] deepakrkris commented on #270
@serkanz you have to send the request as,

[code]

tested in soap ui and this works fine

[2020-03-11 17:42] deepakrkris commented on #270
request logged in soap ui

[code]

[2020-03-12 01:55] deepakrkris commented on #268
@LoneRifle the client can always make necessary checks to see if a returned element is an array. So why force to return an array always ? this could break existing clients.

[2020-03-12 02:29] LoneRifle commented on #268
How would this break existing clients? Those clients would already embed logic to receive and handle either a single object or an array of objects due to the arguably inconsistent nature of what is being returned. I am unsure why a client would break trying to handle a one-item array

[2020-03-12 04:01] deepakrkris commented on #258
@binx01 I also corrected the loopback soap service last time I tested, after changing the wsdl

[code]

[2020-03-12 04:08] deepakrkris commented on #255
@Swagnus create client reads a remote/local wsdl , parses and adds the operations in the client. Depending on the size of the wsdl and schemas referred, it might take some time variably.

you can cache the client in app start up and avoid delays during a call.

[2020-03-12 04:09] deepakrkris commented on #255
@Swagnus you have to set the body fields explicitly as well, they are not defaulted.

[2020-03-12 04:12] deepakrkris commented on #254
@zygimantus If you are able to construct the xml independently without using strong-soap, you can use any http client to post the xml to a soap endpoint. There is no need of strong soap in that case.

[2020-03-12 07:37] serkanz commented on #270
Hi @deepakrkris , thanks for the reply, putting **EgitimBilgisiOgrenciRequest** did solve the problem. However there was another wsdl I was using strong-soap with in which I sent the request without method name (**Sorgula**) as such :

[code]

This creates the soap envelope below, which is normal:
[code]
The only difference between those 2 wsdl's are one is soap1.2 (below)

Am I missing something?

[2020-03-12 13:19] binx01 commented on #258
@deepakrkris Thank you, updated affected sample projects, tested with no success, result still undefined.

[2020-03-12 13:59] zygimantus commented on #254
@deepakrkris, thank you for response, that was exactly the way I did it.

[2020-03-12 13:59] #254 closed

[2020-03-12 15:40] deepakrkris commented on #268
@raymondfeng can you validate this requirement and the associated PR. They look good to me.

[2020-03-12 16:40] #268 closed

[2020-03-13 17:15] deepakrkris commented on #270
@serkanz the second wsdl is a document literal-wrapped style, ie, the part element sorgula is the same as the method name, please see https://github.com/strongloop/strong-soap/blob/master/test/wsdl/strict/doc_literal_wrapped_test.wsdl and https://www.ibm.com/developerworks/library/ws-usagewsdl/index.html

So the method name was "wrapped" by the library around the parameter fields.

I am going to c

[2020-03-13 17:15] #270 closed

[2020-03-13 17:16] deepakrkris commented on #255
@Swagnus I am going to close this issue, and let you open new issues for additional questions.

[2020-03-13 17:16] #255 closed

[2020-03-13 19:19] deepakrkris commented on #259
@dorcilio the purpose of WSSecurityCert class is to add signed tokens to the soap payload, it is not meant for https transport, please see https://github.com/strongloop/strong-soap/blob/92239c41e2135eeab3c3ae0ec2e4f46253558945/test/ssl-test.js#L73

[2020-03-14 02:07] stevevista opened #272 "xmlToJson does not get element atrributes descriptor correctly"
In src/parser/xmlHandler.js
[code]

I think attrDescriptor is actually the parent element's attributes, instead of the current element's attributes

It should be
`
descriptor.findElement(elementQName.name).findAttribute(qname.name);
`

Am I wrong?

[2020-03-14 11:01] kimveasna opened #273 "Add response's suffixes to handle S/4HANA SOAP services"
# Description/Steps to reproduce
I am using loopback 4 to connect to my SAP S/4HANA system. When using the soap connector to consume services exposed in my backend (as described here https://loopback.io/doc/en/lb4/SOAP-Connector-example.html), it returns no data whereas call is successful with a response payload (as checked in debug).
After analysis, it turns out SAP S/4HANA webservice's response

[2020-03-16 08:19] ah-meisami commented on #228
I am facing the same problem, any thoughts ?

[2020-03-16 13:26] emonddr commented on #228
@andrejpoliveira , @ah-meisami ,

Please provide a minimal application to help us investigate.
Thank you :)

[2020-03-16 14:22] emonddr commented on #272
@stevevista , thank you for your question.

Please provide a minimal application that reproduces your issue to help us investigate.
Thank you :)

[2020-03-19 22:34] chegzo opened #274 "Server support"
The readme mentions the server part is a "mock-up".
Is there any reason not to use it as a regular server with loopback4? Are there any limitations / missing features?

[2020-03-23 19:40] deepakrkris commented on #274
@chegzo IMO strong-soap can listen, parse soap requests and send back soap response, but certain soap validations must be handled by the developer . In other words our soap server is not a strict soap interface.

[2020-03-24 08:12] stevevista commented on #272
test.wsdl
[code]

test.js

[code]

[2020-03-26 15:19] emonddr commented on #273
`strong-soap` 2.0.0 is now available with fix.

https://www.npmjs.com/package/strong-soap

[2020-03-26 15:20] #273 closed

[2020-03-26 15:30] kimveasna commented on #273
Thanks!

[2020-03-27 19:38] deepakrkris commented on #274
@chegzo , hope my answer clarified your doubts, closing this issue now.

[2020-03-27 19:38] #274 closed

[2020-03-31 03:56] AnthonyLzq opened #276 "Problems creating SAAJ object model"
I'm using the following code ir order to get some data from a WS:
[code]

But I'm getting the following response:
[code]

What could I be doing wrong?

## Additional information
- ```linux x64 12.14.1```
- ```npm ERR! peer dep missing: restify@2.6.x - 7.x.x, required by restify-cors-middleware@1.1.1```

[2020-04-05 05:30] dextherry opened #278 "How to add attribute in soap:Envelope"
# Description

currently I am using the basic js code:
var options = {}
[code]

and it generates this body:
[code]

how can I add more attributes in the soap:Envelope tag? like this:
# Expected result
[code]

[2020-04-05 17:08] dextherry opened #279 "How to add attribute in element in body xml"
# Description/Steps to reproduce

currently I have this:

[code]

and it generates this xml body:
[code]

# Expected result
I want to generate this structure, with attributes in the elements, but I can not, how can achieve this?:

[code]

# Additional information
maybe it is a incorrect structure, but the point of the issue is that I would like to know how to add attributes in the elements into th

[2020-04-05 17:54] raymondfeng commented on #279
Use `$attributes` in json to contain attribute name/value as an object.

[2020-04-05 18:15] dextherry commented on #279
that works! thanks dear staff
I also noticed that I need to leave empty the options for createClient and `$attributes` works

just a help more please, can you help me with issue [278](https://github.com/strongloop/strong-soap/issues/278) please?
Thanks

[2020-04-05 19:04] raymondfeng commented on #278
The envelope should have corresponding namespace declarations generated if they are used by its child elem

[2020-04-05 21:38] dextherry commented on #278
Hi, thanks for your reply, I would like to know, the attributes in envelope can be generated by some like $attributes but for the the envelope?

i have this code:

[code]

and
[code]

let me know please how to add attribute in soap:Envelope? what part of the code correspont to that configuration?
thanks

[2020-04-07 01:49] dhmlau commented on #279
Closing as resolved.

[2020-04-07 01:49] #279 closed

[2020-04-07 09:32] sante85 opened #280 "how to add soap body"
How to add entire soap body

i want add this
  <urn:AuthnRequest ID="msgId_6119be0c-43dd-438b-980d-91462effd454" Version="2.0" IssueInstant="2014-12-05T11:28:51Z">
            <urn:Extensions>
                <AttributeStatement xmlns="urn:oasis:names:tc:SAML:2.0:assertion">
                    <Attribute Name="UserClientAuthentication">
                        <AttributeValue>A.x.x</AttributeValu

[2020-04-09 04:58] dextherry commented on #267
this is happening to me too, prefix of attributes are removed :O

[2020-04-15 15:31] #259 closed

[2020-04-17 08:11] subukris commented on #228
I get the same issue where envelope is populated, err is undefined and resutl is also undefined.

To workaround, I do this:
``
                if (!result) {
                    var root = xmlHandler.xmlToJson(null, envelope, null);
                    result = root['Body'];
                }
``

Note the xmlhandler can be initialized like this:
``
const soap = require('strong-soap').soap;
const X

[2020-04-17 11:29] silverwind opened #281 "`forceSoapVersion` should be documented"
https://github.com/strongloop/strong-soap/pull/56 added the WDSL option `forceSoapVersion`, but it's nowhere to be found in `README.md` and I had to dig into the source code to find it. Suggesting to add some documentation for it.

[2020-04-19 16:37] dhmlau commented on #281
@silverwind, thanks for your suggestion. Would you like to submit a PR for the docs? Thanks.

[2020-04-20 07:32] silverwind commented on #281
All it does seem to do is set a different [`soapNsURI` and `Content-Type`](https://github.com/strongloop/strong-soap/blob/d8b806f7b727b26bf217cf201926af6e8684638d/src/client.js#L134-L137) if the [detected version](https://github.com/strongloop/strong-soap/blob/a2775deaa4e5e2d8c707cc7939861a778dfebf33/src/parser/wsdl/operation.js#L52-L58) is different than 1.2.

I don't nearly understand enough of

[2020-04-21 09:45] sgabriel opened #282 "XSD Group Element doesn't accept minOccurs and maxOccurs"
# Description/Steps to reproduce
`<xs:group>` elements can't be used multiple times even if defined with `maxOccurs="unbounded"` in WSDL.
https://github.com/strongloop/strong-soap/blob/ef76e7ee3bc004f5a481d01582feb87cf6c53f9c/src/parser/typeRegistry.js#L34
This comment suggest that group doesn't check for `maxOccurs` and `minOccurs` attributes.
This leads to the behaviour, that on jsonToXml genera

[2020-04-21 13:16] emonddr commented on #282
@sgabriel , please elaborate. How does the comment suggest it doesn't handle max or min Occurs?

Please provide a minimal application to demonstrate the issue to help problem resolution. Thank you. :)

[2020-04-22 06:49] sgabriel commented on #282
I will try to provide a "request-response-sample" via PR or should I just add code snippets to this issue?

[2020-04-23 07:34] sgabriel commented on #282
I added a Test-Case here: https://github.com/sgabriel/strong-soap/commit/ea54b54b7319f8eed947bd953d237d60908a3760

[2020-05-04 18:33] wbailey-jb opened #283 "WSDL not opening correctly"
# Description/Steps to reproduce
WSDL URL: https://uat.contigocloud.com/enTrader/WestGass/WCFServices/TradingService.svc?wsdl

WSDL can be opened by SoapUi 5.5 but not strong-soap. When importing schemas, I see the error "Document/literal part should use element".

Open the linked WSDL.
# Link to reproduction sandbox
I was just using the base branch.

# Expected result
WSDL loads properly

error "

[2020-05-08 16:52] wbailey-jb commented on #283
Has anyone seen this?

[2020-05-08 19:18] raymondfeng commented on #283
@wbailey-jb Please use `DEBUG=strong-soap:wsdl strong-soap:wsdl:include` env var to run your app. It will print out information about wsdl/xsd loading.

[2020-05-13 04:33] #257 closed

[2020-05-17 15:31] #251 closed

[2020-05-21 15:48] wbailey-jb commented on #283
I believe the issue is that this particular WSDL has an import for another WSDL. If I copy the contents of the second WSDL into the original file it loads properly.

[2020-05-27 20:37] wbailey-jb commented on #283
Here are the WSDL logs from using the env var you suggested.
[strong-soap-log.txt](https://github.com/strongloop/strong-soap/files/4691661/strong-soap-log.txt)

[2020-05-27 23:22] raymondfeng commented on #283
Hmm, the wsdl itself seems to have the same `targetNamespace` (http://entrader.contigoenergy.com/Contigo.Entrader.Service) as the 1st imported xsd. Maybe it confuses the resolution.

[2020-05-27 23:33] raymondfeng commented on #283
I'm not sure if it has something to do with https://github.com/strongloop/strong-soap/blob/master/src/parser/wsdl.js#L237.

[2020-05-29 16:57] wbailey-jb commented on #283
So i'm not sure if its because of the xsd import because if I remove the import I still end up with the same error. I believe it has something to do with the fact that the initial wsdl has an import for a second wsdl which has an import for the first wsdl, ect... Is there any form of check for circular imports currently?

[2020-05-30 06:23] #258 closed

[2020-06-02 20:49] wbailey-jb commented on #283
Hi @raymondfeng I created a reduced wsdl that still shows the issue.

[reduced.txt](https://github.com/strongloop/strong-soap/files/4719616/reduced.txt)
(had to rename it to a .txt because github wouldn't allow me to upload a .wsdl)

[2020-06-03 14:56] MateRadz opened #284 "Problem with namespace declaration"
I getting the following error:

Code: {"Value":"soap:Receiver"} Reason: {"Text":{"$attributes":{"lang":"en"},"$value":"Server was unable to process request. ---> Invalid namespace declaration. Line 33, position 51.

This a console log output put(stripped from security info) in http.js file after line 163:

{
  uri: Url {
    protocol: 'https:',
    slashes: true,
    auth: null,
    host: 'api1.mu

[2020-06-03 19:47] michaelfarrell76 opened #285 "Remove GPL License from upstream dependencies"
# Description/Steps to reproduce

- Add strong-soap@2.0.0 to your package.json
- Run check using [fossa](https://fossa.com/) to search for GPL licenses in package tree
- Get an alert for strong-soap that looks like the following:

<img width="578" alt="Screen Shot 2020-06-03 at 11 48 43 AM" src="https://user-images.githubusercontent.com/10264973/83676854-2dc54c80-a590-11ea-87c2-4d2f2cfd0a43.png">

[2020-06-03 20:08] raymondfeng commented on #285
There is no runtime dependency on `adm-zip`. See:
[code]

[2020-06-03 20:08] #285 closed

[2020-06-04 16:23] hannahhenderson opened #286 "test metadata in issue description"
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2020-06-04 20:04] #286 closed

[2020-06-06 22:51] #272 closed

[2020-06-13 09:56] #276 closed

[2020-06-15 07:28] Asafkbalink opened #288 "[QUESTION] How to retry failed requests?"
Hey, the questions link refers to LoopBack only, but my question is specific to this library.

How to retry failed SOAP request? I couldn't find any `retry` methods / configurations in README, and since it looks like a common feature to have, I suppose there is a way to retry 5xx failures for example?

[2020-06-20 18:03] #280 closed

[2020-06-20 18:03] #278 closed

[2020-07-04 17:47] #281 closed

[2020-07-06 09:27] #282 closed

[2020-07-08 19:38] danielf-rodriguez opened #289 "Date format without Z"
Is there a way to make date format on XML request comes without the Z at the end?. We have a legacy web service that is validating the format to be YYYY-MM-DD and the Z is causing problems.

[2020-08-07 10:18] ibmappcon opened #293 "Issue passing the key and cert in ClientSSLSecurity"
Hi,

I am trying to set the client SSL security using following code:

[code]

key and cert are in following format:
`-----BEGIN CERTIFICATE-----<!redacted>`

If i use them in the constructor as it is, the method takes this as a string Path to the file, hence, returns error from readFileSync.

I also tried to convert the key and cert into a buffer, but then the following error is returned:
[code]

[2020-08-14 16:53] raymondfeng commented on #293
You can pass in values as `buffer`.

[2020-08-16 08:02] #283 closed

[2020-08-16 18:02] #284 closed

[2020-08-20 12:49] Scrib3r commented on #289
Yes, It's a big problem for us too. A soap server expects date in format YYYY-MM-DD but in every requests z symbol added into the end of field of date. Can anyone help us?

[2020-08-22 22:39] mgmpskywalker07 opened #295 "$attributes="[object Object]" is being added as an element attribute."
# Description/Steps to reproduce
Please find an example of the "<b>CreateBookingRequest</b>" soap envelope here: [https://docs.oracle.com/cd/E90572_01/docs/Reservation%20Web%20Service%20Specifications.htm#_Toc3209113](https://docs.oracle.com/cd/E90572_01/docs/Reservation%20Web%20Service%20Specifications.htm#_Toc3209113)

Here is a small example to construct the envelope with some of the elements a

[2020-08-22 23:33] #295 closed, assigned to nobody

[2020-08-30 23:50] #288 closed

[2020-09-23 11:51] prithviraj99 opened #296 "Strong-soap trims spaces for the value of an xml tag during xmlToJson conversions"
# Description/Steps to reproduce

**Library Name** – strong-soap which is a dependency library for loopback-soap-connector
**Github link with Line number for the exact version(v1.14.0)** - https://github.com/strongloop/strong-soap/blob/v1.14.0/src/parser/xmlHandler.js#L661
I am using a loopback application and loopback-soap-connector for consuming a soap service.
Response XML tags have spaces but

[2020-10-07 09:49] Dsiddhesh opened #297 "Query regarding restricting XSD files referenced in WSDL"
# Description

Hi All, We need to parse a Oracle EBS WSDL to get Customer information. We tried SOAP model utility to form a model using desired operation from WSDL successfully but we see that WSDL processing takes lot of time in createClient call itself.
We added log inside wsdl.js [open ](https://github.com/strongloop/strong-soap/blob/master/src/parser/wsdl.js#L440) method and see that all XSD'

[2020-10-07 16:11] raymondfeng commented on #297
1. You can probably use WSDL_CACHE as a workaround. See https://github.com/strongloop/strong-soap/blob/master/src/parser/wsdl.js#L39. A pre-populated can be passed in via `options`.

[2020-10-08 06:16] Dsiddhesh commented on #297
@raymondfeng I tried approach of using WSDL_CACHE . I see that first request to soap.createClient takes lot of time but subsequent requests take very less time as I understand that WSDL is cached. But our requirement is to call soap.createClient method only once. Is there any way to restrict processing of wsdl during first call to soap.createClient ?

[2020-10-08 16:33] raymondfeng commented on #297
@Dsiddhesh We use WSDL_CACHE for XSDs too. See https://github.com/strongloop/strong-soap/blob/1a3bf3001202efc82c8c20ba4baba522d99881c8/src/parser/wsdl.js#L189. If you populate `options.WSDL_CACHE` upfront with the calculated includePath as the key, the corresponding xsd should be loaded from cache.

[2020-10-12 13:25] Dsiddhesh commented on #297
@raymondfeng  Thanks for clarification. I dint get more details in documentation about options.WSDL_CACHE. Have below queries
1) What is the duration of caching ? few days, hour ? can this be changed ?
2) Any memory related restrictions that we should take care ?

[2020-10-19 15:20] raymondfeng commented on #297
The cache is for the wsdl/xsd only by urls during WSDL parsing. It is held as a property of the `WSDL` instance (https://github.com/strongloop/strong-soap/blob/master/src/parser/wsdl.js#L39). The WSDL instance should be subject to GC after parsing.

[2020-12-07 15:41] cw0 opened #299 "soap input body elements are created with the key $element instead of element"
# Description/Steps to reproduce
When input.body.parts is parsed from the original wsdl, the elements are added with a '$' prefix. Later in the parsing process when it attempts to getMode() in operation.js, it will crash on line 359 because it is looking for the key element instead of $element.

# Link to reproduction sandbox
[Link to replication example](https://repl.it/@cw0/strong-soap-bug-repli

[2020-12-17 16:25] marcosins opened #300 "Update `xml-crypto` dependency to `^2.0.0` in version 1.22.1 and publish new `1.X.X` version as PATCH or MINOR"
# Description
**Feature request:** I would like you to consider updating `xml-crypto` to version `^2.0.0` in `strong-soap@1.22.1` and up.

`xml-crypto@2.0.0` solves an [Improper Key Verification vulnerability](https://www.npmjs.com/advisories/1583) by disabling by default support for the HMAC-SHA1 'signing' algorithm, as described in [their release page](https://github.com/yaronn/xml-crypto/releas

[2020-12-18 19:56] dhmlau commented on #300
@marcosins, would you like to submit a PR? Thanks.

[2020-12-20 19:32] muehle28 opened #301 "authorizeConnection - http Auth - Soap server"
When creating a soap server, the authorizeConnection function is getting the parameter req.connection.remoteAddress passed. This is not verry useful for the authorization of a connection. It would be better if the request would be passed, then it would be possible to get the http header data and perform a basic auth.

server.js
actual:
[code]
suggestion:
[code]

[2020-12-21 14:51] marcosins commented on #300
Hi @dhmlau, I published #302. Let me know if anything else needs to be done in order to comply with your contributing guidelines.

[2020-12-23 22:19] stagefright5 opened #304 "[Dynamic Require] Error: Can only have one anonymous define call per script file"
# Description/Steps to reproduce

The steps to reproduce is mention in this [repo's](https://github.com/stagefright5/strong-soap-dynamic-module-load-issue#strong-soap-dynamic-module-load-issue) README.md file

# Link to reproduction sandbox

https://github.com/stagefright5/strong-soap-dynamic-module-load-issue#strong-soap-dynamic-module-load-issue

# Expected result

The dynamic require should wor

[2020-12-25 14:33] #267 closed

[2020-12-30 21:48] marcosins commented on #300
I'm submitting again my changes in #305 with more clean commits

[2021-02-10 09:32] hscientist67 opened #306 "soap Auth"

[2021-02-10 09:33] #306 closed

[2021-02-10 09:33] hscientist67 opened #307 "Soap"
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2021-02-10 09:33] #307 closed

[2021-02-10 09:38] hscientist67 opened #308 "Soap Authentication Header"
Hi

I am using the soap module in my project. In my method, I need to add a token as "Authorization-PIN: ...." in the header field. But every time it gives an error saying "Token not found". How can I add headers to my method?

.........................................
"use strict";

var soap = require('strong-soap').soap;
// wsdl of the web service this client is going to invoke. For local wsdl y

[2021-02-22 16:05] emanual4real opened #309 "xmlHandler example does not work"
Can you fix the xmlHandler example?

# Description/Steps to reproduce
1. Copy and paste example into `index.js`
2. Replace soap require statement with `var soap = require("strong-soap").soap;`
3. run `node .`

# Expected result
Console.log results

# Actual result
[code]

win32 x64 14.15.3
""

[2021-02-23 12:00] aGilsP opened #310 "while transforming from json to xml, could strong-soap not format (then introducing tabulation) rendered xml"
# Description/Steps to reproduce
Having generic json as follows:
`Attachment: {
        BinaryData: {Name: {},BinData: {}}
      }
`
then setting attribute
`Attachment.BinaryData.Name = 'Facture.pdf';
Attachment.BinaryData.BinData = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
, quis nostrud exe

[2021-03-01 09:21] ramnathan84 opened #311 "Can this be used for react native for soap based calls?"
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2021-03-08 15:54] emilguareno commented on #109
I ended up using babel with webpack to bypass this issue.
https://github.com/serverless-heaven/serverless-webpack/blob/745aee4270b0e400421cc3a7c4bdedffb12b04a9/examples/babel-webpack-4/webpack.config.js

[2021-04-02 06:41] sidverma32 commented on #161
check this answer: https://stackoverflow.com/questions/38558989/node-js-heap-out-of-memory/66914674#66914674

[2021-04-08 18:02] corbinu commented on #160
@raymondfeng Is there still an interest in this? I would be happy to submit a PR and I have a large amount of experience migrating JS projects to TS

[2021-05-10 15:45] arulmani33 commented on #205
soap.createClient(url, options, function(err, client) {

    client.addSoapHeader("<wsa:To xmlns:wsa='http://www.w3.org/2005/08/addressing'>https://webservices.iqtrack.com/RequesterSync.svc</wsa:To>");
//    client.addSoapHeader("<wsa:Action xmlns:wsa='http://www.w3.org/2005/08/addressing'>https://webservices.iqtrack.com/RequesterSync.svc</wsa:Action>"); // action

    if (err) {
        console.e

[2021-06-09 01:46] kellyjandrews commented on #289
Going to have to reopen this one - it's changing all dates into UTC Zulu time - I'm honestly not sure how. I specifically need these to be in PST.  Is there a way to do this?

[2021-06-09 12:50] kellyjandrews commented on #289
So in my case, the API doesn't care about the time zone, so using `moment().subtract(7, 'hours')` fixed it.

[2021-06-28 19:38] KatieSchuler opened #320 "Order of elements within the Security element"
Hi.  I am able to generate the soap/xml that I want EXCEPT that the order of elements within the security element is...I don't want to say "wrong" because I don't think it's supposed to matter, but my customer is working with a horribly touchy legacy soap api.

I have added two custom soap headers, one for "Action" and one for "To".  They appear at the top of the Security Section of xml, and the o

[2021-06-29 16:34] wbailey-jb opened #321 "Cannot load wsdl through url or file content"
# Description/Steps to reproduce
https://wocastestsrvwa.woonstadrotterdam.nl/k2wservices.wsdl
Try to create a client with this WSDL, or WSDL.open/WSDL.load always gives this error.
<img width="1183" alt="Screen Shot 2021-06-29 at 9 29 56 AM" src="https://user-images.githubusercontent.com/59974750/123834895-c249cd80-d8bc-11eb-98f6-45dbc945b2b7.png">

# Link to reproduction sandbox
Don't have one si

[2021-07-14 03:55] #293 closed

[2021-07-14 03:55] #262 closed

[2021-07-14 03:55] #296 closed

[2021-07-14 03:55] #297 closed

[2021-07-14 05:58] saristar opened #323 "Header does not use required prefix"
I'm trying to add header using client.addSoapHeader() method. The problem with the method is it is not using the required prefix in the xml output.

This is how I'm building the header.
[code]
I want the header to generate with `oe` prefix

This is how it is built from strong-soap
[code]

Expected Output:
[code]

I want the header to be built this way.

[code]

[2021-07-22 00:50] mgmpskywalker07 opened #325 "Strong-Soap appears to modify the time time portion of a date in UTC format"
I am hoping I can ask this question without needing a sandbox because I cannot set one up.

The SOAP endpoints are proprietary and used by my company.

Here is part of the response I get back when I send a soap request from Postman:

[code]

Notice the time portion (after the 'T') are all 0's.

If I run the same request using Strong Soap and listen for the client Event 'response' (see code below),

[2021-07-28 04:44] #299 closed

[2021-07-28 04:44] #301 closed

[2021-07-28 04:44] #300 closed

[2021-07-28 04:44] #304 closed

[2021-07-28 04:44] #308 closed

[2021-07-28 04:44] #309 closed

[2021-07-28 04:44] #311 closed

[2021-08-20 10:29] artkarki commented on #325
Same problem here. It seems that this affects to my document signature process. If I send the created xml via SoapUI then the response is valid from the third party WebService. If I send the document via strong-soap, then the response is "Invalid XML signature". I compared the created XML and client.lastRequest and only differences in those two documents are in timestamp fields.

[2021-08-24 13:26] sseide opened #328 "Question: Any plans for "request" migration?"
# Description/Steps to reproduce

I just want to ask if there are any plans already to move from the abandoned "request" library to another maintained library.
(https://github.com/request/request). As this is deprecated since Februar last year is is just a question of time until higher priority problems arise with this lib.

By now there is only one low prio thing with old sha1 hashes in oauth (ht

[2021-09-02 07:14] isatria opened #335 "request vulnerability"
Vulnerability: [SRCCLR-SID-3911](https://sca.analysiscenter.veracode.com/vulnerability-database/security/sca/vulnerability/sid-3911/summary) & [SRCCLR-SID-21913](https://sca.analysiscenter.veracode.com/vulnerability-database/security/sca/vulnerability/sid-21913/summary) Medium severity.
Dependency: *request*

Are you have the schedule to resolve this issue anytime soon?

It's causing a medium seve

[2021-09-02 12:45] achrinza commented on #335
Thanks for initiating a discussion @isatria.

Based on what I can find on these vulnerabilities, the first vulnerability only affects oauth signing, which is not being used by this package, while the 2nd vulnerability is with regards to a configuration option, which isn't directly utilised by this package. (Feel free to correct me on those).

Regardless of the above, we do plan to eventually migra

[2021-09-02 12:45] achrinza commented on #335
Duplicate of #328

[2021-09-02 12:45] #335 closed

[2021-09-13 16:00] shmeltex opened #339 "husky dependency"
# Description/Steps to reproduce

````npm install strong-soap```` fails if husky is not installed

[code]

# Expected result

````npm install strong-soap```` completes without error when husky is not installed

[2021-09-13 16:28] achrinza commented on #339
Fixed in v3.3.1.

[2021-09-13 16:28] #339 closed

[2021-09-14 20:15] ikallali commented on #323
+ 1

[2021-10-07 09:19] vAugagneur opened #340 "Modifiy XML and replace ns1: by sil:"
# Description/Steps to reproduce

[code]

#  Request

[code]

# Expected request

[code]

# Additional information

can you please help me to find the way to change xml and replace ns1 by sil ?

Best regards

[2021-11-10 23:45] #321 closed

[2021-11-11 12:16] #320 closed

[2021-11-11 12:16] #310 closed

[2021-11-15 11:05] sseide commented on #328
@marioestradarosa any information or thoughts about this?

And as expected - some more things coming up in "request" dependencies that will not be fixed as they need updates to "request" itself to allow newer versions of the libraries. Therefor it is safe to assume CVE-2021-3918 within "json-schema" (with score high) as an indirect dependency will not be fixed in "request" because request needs an

[2021-12-09 17:53] salmipa commented on #340
Since nobody has answered anything to you, I will. First of all, your expected request doesn't seem to be valid, since your namespace prefix 'sil' is not declared anywhere. Secondly, if you are dependent on namespace prefixes, you are doomed. Namespace prefixes shouldn't matter. They can be anything, namespace URI is what matters.

[2021-12-09 18:06] salmipa opened #345 "SOAP fault coerces SOAP 1.2 request to SOAP 1.1 response"
Looks like return a fault according to your documentation (throw { Fault: .... }) causes coercion to SOAP 1.1.

# Description/Steps to reproduce
Use SOAP 1.2 request and return a fault.

# Link to reproduction sandbox
[gentest3.zip](https://github.com/loopbackio/strong-soap/files/7687450/gentest3.zip)

# Expected result
Expected result is SOAP 1.2 Envelope

# Additional information

win32 x64 16.1

[2021-12-09 18:20] salmipa opened #346 "SOAP fault is returned with HTTP status code 200"
But it should be 500. See https://www.w3.org/TR/soap12-part2/

<img width="485" alt="StatusCodes" src="https://user-images.githubusercontent.com/22555828/145453064-43547b8e-6e80-41fd-9eed-a5441b3386f1.PNG">

# Description/Steps to reproduce
Send back a fault and see yourself.

# Link to reproduction sandbox

# Expected result

As specified by the specification.

# Additional information

Node: win

[2021-12-09 18:25] salmipa commented on #346
Just debugged it, and noticed that I can change it to 500 by setting

statusCode: 500

but it should happen by default.

[2021-12-10 09:09] salmipa commented on #345
Debugging and analysing it further. It has something to do with multiple port types and bindings. If I removed all but SOAP 1.2 port type, it worked. I was using your world famous stock quote sample wsdl.

[2021-12-11 12:58] achrinza commented on #345
Thanks for opening an issue, @slamipa. We'll review the issue and see if we can create a fix. If preferred, you can also open a PR with a fix and regression tests and we'll help land it for the next release.

For security reasons, it is advisable not to provide ZIP files. Instead, please consider re-uploading the reproduction sandbox to either Code Sandbox or as a public Git repository.

I've re-p

[2021-12-13 13:08] salmipa opened #348 "Implement proper authorization model"
# Description/Steps to reproduce

Authorization model for strong-soap doesn't support for example bearer tokens. I would like to see more flexible authorization model which enables checking of the authorization header (be it whatever) and if bearer token, then check the claims. This should be done so that request and response are passed to callback which could do the job. By doing it this way enab

[2021-12-13 17:22] philosophocat opened #349 "Question: Is there a way to send request without line-breaks and spaces?"
I'm getting error on request to soap-server and logs says that request body includes spaces and line-breaks. What can i do to remove them?

[2021-12-24 08:14] sumitkhetrapal opened #350 "Peer Dependencies clarification"
Current node module hierarchy is :
`Strong-soap`  pulls -> `httpntlm-maa` which internally consumes `request` and `node-fetch` as peer deps

As a consumer of package, do we ensure that peerDeps are satisfied or you are expecting it to be managed by the consumer of `strong-soap` itself?

Ref: https://nodejs.org/es/blog/npm/peer-dependencies/

[2021-12-24 11:23] achrinza commented on #350
`httpntlm-maa` will import either `request` or `node-fetch` depending on which are available in the `node_modules` tree. This peer dependency is already satisfied by `strong-soap`'s `request` dependency:

https://github.com/loopbackio/strong-soap/blob/c3a9ebd45c3c0962821629aadeb32c7789b461be/package.json#L17

Hence, consumers of `strong-soap` do not need to ensure that that deep peer dependency is

[2021-12-24 11:49] sumitkhetrapal commented on #350
In that case, if request is available in node module tree, node-fetch will be skipped. Similarly, if node-fetch is available, request will be skipped.

We should make sure that both the peerDeps are satisfied else the consumer need to handle it explicitly.
Let me know if it is feasible to include both the module under dependencies or not?

[2021-12-24 11:55] achrinza commented on #350
No explicit handling by the consumer is necessary; Since `request` is already installed by `strong-soap`, `httpntlm-maa` will pick that up without additional configuration.

Adding `node-fetch` would be adding a package that would never be used as it's either `request` or `node-fetch`, not both simultaneously.

[2021-12-25 14:59] asaid-0 opened #351 "Can't parse correct URI from `schemaLocation` in import when WSDL redirected to another location"
# Steps to reproduce
I have WSDL URI like this: https://example.com/service.wso?WSDL
when making a request to it, it redirects to https://example.com/sub/folder/service.wso?WSDL

Till now it's fine and strong-soap will detect the WSDL and parse it, the issue happens when strong-soap tries to parse this import line:

`<xsd:import schemaLocation="Common.xsd">`

Then strong-soap will try to get this

[2021-12-27 07:37] aldo-kindredpest opened #353 ""Cannot parse response" While calling method on WSDL"
i got error when i try to change my SOAP url to static file, previously when i use the url its work properly the url its manage by outsource, i download the result from that URL and try to connect by local file, here the code

soap.createClient(path.join(__dirname, '../wsdl/wsdl.xml'), {}, (err, client) => {
  if (err) return reject(err);
  client.setSecurity(new soap.BasicAuthSecurity(config().us

[2022-01-06 01:28] muiz-mnrb commented on #160
Please do

[2022-01-07 01:28] corbinu commented on #160
Ok great can somebody please reopen?

[2022-01-14 07:59] achrinza commented on #160
There has been some progress, though there's still quite a bit of work to do: https://github.com/loopbackio/strong-soap/tree/feat/typescript-migration

[2022-01-22 10:50] #351 closed

[2022-01-28 05:12] hrushikesh-udchalo opened #354 "Date format Problem in Soap-Client , automatic Z added in Date Formate"
what i have send
`
const request = {
...,
TravelDate: new Date('2022-02-08'),
...
}
`
last request xml= >
`<TravelDate>2022-02-08Z</TravelDate>`

[2022-01-28 06:04] hrushikesh-udchalo commented on #289
Has anybody found , How to solve this issue ?

[2022-01-28 10:52] achrinza commented on #354
I have re-opened https://github.com/loopbackio/strong-soap/issues/289 and will continue tracking the issue there.

[2022-01-28 10:52] achrinza commented on #354
Duplicate of #289

[2022-01-28 10:52] #354 closed

[2022-02-08 09:28] pkfms commented on #289
Hi, I also need to send dates to an api that requires dates in format 2022-02-08T10:27:18+01:00 instead of Z. Would be great to be able to configure this in the request

[2022-02-16 16:59] zbrook commented on #323
If I may join this party late, @saristar does your WSDL define your header?

I can see the module has a unit test just for this case, and it passes -- unless I change qname and/or the header's name, in which case the output header element lacks the given qname. You can also see this header defined in the WSDL imported by the unit test.

Suggests that addSoapHeader() wants the desired header to be

[2022-03-27 16:39] renovate[bot] opened #362 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore: update dependency colors to ^1.4.0
 - [ ] chore: update dependency coveralls to ^3.1.1
 - [ ] chore: update dependency diff to ^4.

[2022-03-28 12:13] francois-spectre opened #375 "The service crashes is content-type undefined"
## The issue

If I do a curl to the strong-api route without headers neither body an issue is thrown and is not caught anywhere `Invalid value "undefined" for header "Content-Type"`

I would expect the server to return a 400 "Bad request", or ignore it, or run a default "controller", or anything but not crashing the server. What can I do to solve this issue?

## Error detail
[code]

It happens her

[2022-05-10 13:00] #350 closed

[2022-05-18 15:47] francois-spectre commented on #375
@achrinza I could fix it but which behaviour would you like? We could return a 400 "Bad request" or use a default Content-Type value for instance...

[2022-05-24 09:05] vinusorout opened #423 "setEndpoint method does not override the server name of method"
# Description/Steps to reproduce
We are getting the wsdl response without the FQDN. and our caller server is not able to resolve the URL without the FQDN
[code]

We tried to override this with the setEndpoint mentod:

[code]

But still when we call the method:

[code]

We are getting error: "getaddreinfo ENOTFOUND serverName"

What should I update to make it work?

[2022-05-24 12:51] vinusorout commented on #423
Updates: the functionalities are breaking during createClient call, as the packages tries to get multiple schemas from the server during the createClient call. We tried to pass the endpoint in options while creating client:
[code]

But it is still not using this URL for the schemas call

[2022-06-28 13:42] dhmlau commented on #375
@francois-spectre, what about `415`? https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/415.
Would you be interested to submit a PR?

[2022-06-28 14:57] francois-spectre commented on #375
@dhmlau I have implemented the 415 error ^

[2022-09-06 05:18] sharmmoh1983 opened #461 "SSL check not getting disabled while invoking operation"
# Description/Steps to reproduce
I am trying to ignore ssl negotiation while making soap request and it is working fine while querying WSDL and but failing while invoking operation

No SSL error
[code]

SSL error
[code]
 client.setSecurity(new soap.ClientSSLSecurity(
    '/path/to/key'
    , '/path/to/cert'
    , {rejectUnauthorized: false,
strictSSL: false}
  ));
var method = client['StockQuote']

[2022-11-03 19:15] sieteunoseis commented on #103
Not getting isNillable: false for any elements. For example:

    <xsd:complexType name="XSipProfile">
        <xsd:sequence minOccurs="0">
            <xsd:element maxOccurs="1" minOccurs="1" name="name" nillable="false" type="axlapi:String50"/>
         </xsd:sequence>
    </xsd:complexType>